
.center {
    text-align:center;
}
 
 
.archive-img {
    float: left;
    margin: 0 15px 15px 0;
    max-width: 155px;
    height: auto;
}
 
 
.panel-light {
	h1 { 
      
	    //text-shadow: 1px 2px 15px black;
	    a{
	    	color:$blue;
	    }
	}
}

	h1 {
	
	    //text-shadow: 1px 2px 15px black;
	      @include breakpoint(xs){
	     	font-size:20px;
	     }
	     @include breakpoint(sm){
	     	font-size:25px;
	     }
	     @include breakpoint(md){
	     	font-size:33px;
	     }
           @include breakpoint(lg){
            font-size:45px;
         }
	}
.feature-img {
    // height: 180px; 
}
.home-panel {
	position: relative;
}
.panel-content {
    position: relative;
    // min-height: 300px;
    
      @include breakpoint(md){
        padding: 40px 0; 
      }
        @include breakpoint(sm){
        padding: 25px 0; 
      }
     @include breakpoint(xs){
     	padding: 15px 0; 
        //min-height: 150px;
     }
}
 
 
#content {
	 
     @include breakpoint(sm){ min-height: 300px;}
    @include breakpoint(md){ min-height: 500px;}
}
#mfcplay {
	margin: 50px 0 50px 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 880px;
}
.panel-no-arrrow div#scroll { display:none;}
.panel-dark .fa-chevron-down {
    color: #fff;
    background: #fff;
}
.panel-light .fa-chevron-down {
    color: #000;
    background: #fff;
}
div#scroll {
    @include breakpoint(xs){
        display:none;
    }
    .fa-chevron-down {
        
        border-radius:50%;
        -webkit-border-radius:50%;
        width:40px;
        height:40px;
        font-size:16px;
        color:#fff;
        margin:0 auto;
    }
    .fa-chevron-down:before {
        position: absolute;
        top: 16%;
        left: 0;
        right: 0;
        color: #e4002a;
        border-bottom: 3px solid #fff;
    }
    bottom: 23px;
    position:relative;
    cursor: pointer;
    display: inline-block;
    z-index:99;
    text-align:center;
    width: 100%;
   
}
 .container #content ,  
 .container #content-wrap{
    background:#fff;
    margin-bottom: 40px;
    border-top: 10px solid #f0b728;

}

.pagination1 a:first-child {
	font-weight:bold;
	float:left;
}
.pagination1 a {
	font-weight:bold;
	float:right;
}
.post-content  {
    margin:0 0 15px;
    letter-spacing: 0px;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    //font-weight: 300;
  //font-family: 'Gotham-Book-Regular';
}
.post-content strong {
    //font-family: 'Jockey One', sans-serif;
    color: #0f2992;
    font-size: 14px;
    text-shadow: none;
    //font-weight: 500;
    letter-spacing: 0px;
}
#main-content h1, #hero h1, #content-wrap h1 {
   
   
    text-transform: none;
    margin: 0 15px 15px 0;
   // line-height:48px;
  // text-transform:uppercase;
}

.page-title {
    border-bottom:2px solid #eee;
    margin-left:15px !important;
}
.navigation.row {
    padding-bottom: 15px;
}
.news-archive 
{
    .front-more-news { padding-top:15px;}
    .front-more-news li:nth-child(n) {
        @include breakpoint(md)
        { 
            margin-bottom: 1%;
            margin-right: 1%;
        }
    }
    .front-more-news li {
        @include breakpoint(md){ 
         width: 24%;
     }
    }

}

.col-1 {
       padding-top: 30px;
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
        padding-left:15px; padding-right:15px;

    @include breakpoint(xs){ 
        display:inline-block;
        padding-bottom:25px;
        width: 100%;
    }
}
.banner-bg {
     
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
}
.breadcrumb-list {
    a {
        color: #0f235d;
        font-size: 12px;
        font-weight: 500;
    }
    .breadcrumb-current {
        font-weight:bold;
        font-size: 12px;
    }
    margin: 25px 0px 15px 0;
    text-align: right;
    @include breakpoint(md) {

        display: block;
    }
     @include breakpoint(xs-sm) {

        display: none;
    }
}
.page-template-about .news-box h4 {
        font-family: 'serpntbi';
        color:$light_blue; 
        font-size: 20px;
        padding: 15px 0 7px 0;
        font-weight: 100;
        text-transform: uppercase;
        &:hover {
            color:$theme_color;
        }
}

.pagination {
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 10px;
  //  background: url('../images/page-divider.jpg') no-repeat;
   .wp-pagenavi {
        padding: 8px 0;
   }
    .wp-pagenavi a:hover, .wp-pagenavi span.current {
        border-color: #0f2992;
    }
    .wp-pagenavi span.current {
        color: #fff !important;
        background: #002991;
    }
   .previouspostslink, .nextpostslink {
    border-radius:5px;
    padding:5px 10px;;
    border:1px solid #8598A7;
   }
    .wp-pagenavi a, .wp-pagenavi span {
      //  border-right: 1px solid #BFBFBF !important;
      //  border: none;
        color: #002991; border-radius:5px;
      margin: 0 5px;
        font-size: 16px;
        padding:5px 10px;;
        font-family: 'ROBOTO-BOLD';
        &:hover {
            color: #002991;
        }
    }
}

.status {
     color: #F3B52F;
     font-family: 'ROBOTO-BOLD';
     margin-bottom: 20px;
}
@media only screen and (max-width: 992px) and (min-width: 200px)   {
 
    .headering-top { overflow: inherit;}
}
  .more-link a {
    color: $light_blue;
    font-weight: bold;
    text-transform:uppercase;
}
.more-link {
    padding:4px 0 10px;
}
  .rel-article-content {
        color: #000;
        font-size: 13px;
        line-height: 19px;
       
  }
 
 
.text-panel {
    h1 { color: #fff; }
}
 
 

 
.sponsor {
    padding: 30px;
    background:#fff;

    .slick-slider .slick-track {
        margin:0 auto;
    }
     @include breakpoint(xs) { padding: 20px; }
      .center {
        font-family: 'ROBOTO-LIGHT';
        font-size:30px;
        margin-bottom: 30px;
          @include breakpoint(xs) {
                font-size: 23px;
                margin-bottom: 25px;
            }
    }
}
.sponsors {
  padding:0; text-align: center;
   
    li {
        display: inline-block;
        padding:0 15px;
    }
}
.widget_categories {
    ul { padding: 0; }
    li {
       color: #000;
       line-height: 25px;
       list-style: none;
       
        &:before {
            content: '>';
            color:#F3B52F;
            font-weight: bold;
            padding-right:5px;
            font-size: 18px;
        }
    }
    a {
      
        color: #000;
        line-height: 23px;
    }
}
.news-box-archive{
    padding: 20px 0;
    border-bottom:1px solid #F3B52F;
  h4 {
      @include breakpoint(xs) {
            margin-top: 10px;
    }
  }  
    &:last-child {
        border:none;
    }
  
}
#sidebar > div{
    margin-bottom: 25px;
}
//Home page social boxes
.wdi_feed_theme_1 .wdi_pagination { display: none; }
.social-feed {
    background: #fff;
    float: left;    width: 100%;
    padding: 35px 20px;
    @include breakpoint(xs) {
        padding: 13px 3px;
    }
    @include breakpoint(sm) {
        padding: 20px 10px;
    }
    @include breakpoint(md) {
        padding: 35px 20px;
    }


    #ffwd_container1_0 #ffwd_container2_0 .bwg_blog_style_img_cont_0 .ffwd_blog_style_img_0{
        max-width: 100% !important;
    }
    #ffwd_container1_0 #ffwd_container2_0 .blog_style_object_container_0{ padding:0;}
     #ffwd_container1_0 #ffwd_container2_0 .ffwd_blog_style_object_info_container_0 {display: none;}

     #ffwd_container1_0 #ffwd_container2_0 .bwg_blog_style_img_cont_0{
          &:before {
            content: '';
            background:url('../images/facebook_m.png') no-repeat;
            position:absolute; bottom: 0;    left: 0;
            width: 38px;height: 42px;
             @include breakpoint(xs) { background:url('../images/facebook_mobile.png') no-repeat;width: 31px;bottom: 0; top: 87.5%;   left: 0;}
         }
 
}
    .wdi_thumb_icon {
           &:before {
            content: '';
            background:url('../images/instagram_m.png') no-repeat;
            position:absolute; bottom: 0;    left: 0;
             width: 38px;height: 42px;
             @include breakpoint(xs) { background:url('../images/instagram_mobile.png') no-repeat;width: 36px;bottom: 0;top: 86%;    left: 0;}
         }
    }
}
.wdi_thumb_icon div {
    display: none !important;
}
#mobmenuright li a{
     font-family: HighSchoolUSASans !important;    border-bottom: 1px solid;
}
.mobmenu_content #mobmenuright .sub-menu a{
    font-family: ROBOTO-MEDIUM !important;border:none;
}
.mobmenu_content #mobmenuright .sub-menu { padding: 0 !important; }
.mobmenu_content #mobmenuright .sub-menu a { border-bottom: 1px solid; }
.mobmenu_content #mobmenuright .sub-menu .sub-menu a {
    &:before{
        content: '-  ';
    }
}

//Woocommerce
.woocommerce div.product p.price, .woocommerce div.product span.price{
        color: #f0b728;font-family: 'HighSchoolUSASans';
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce a.button, .woocommerce button.button {
        background-color: $theme_color;
        border-radius:0;color:#fff;
        font-family: 'HighSchoolUSASans';
        font-weight: normal;
}
section.related.products {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #f0b728;
    padding-top: 15px;
}
.woocommerce .woocommerce-ordering select {
    -webkit-appearance: none;
    border:none;
    background:$theme_color;
    color:#fff;
    padding:7px 12px;
}
.woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
    color: #fff;
}
.woocommerce-message {
    border-top-color: #f0b728;
}
.woocommerce-message::before {
    content: '\e015';
    color: #f0b728;
}
.woocommerce span.onsale {
    background-color: #f0b728 !important;
}
.woocommerce ul.products li.product .price{
    color: #f0b728 !important;
        @include breakpoint(sm){   font-size: 17px; }
}
.social-buttons {
    background: #8598A7;
    display: flex;
    justify-content: space-between;
    width:250px;
    float: right;
    color: #fff;
    padding:12px 0; text-align: left;
    font-family: 'HighSchoolUSASans';
    @include breakpoint(xs){
       width:100%;
    }
    &:last-child{
        padding-right:15px;
    }


     .text {
        padding:0 15px;font-size: 15px;
     }
    a{ color: #fff; }
    .icons { 
        padding:0 5px;font-size: 20px;

    }
    div {
        display: inline-block;padding-right: 12px;
      
    }
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
    border-color: #999;
    border-width: 1px;
    border-style: solid;
}








