.footer-outer {
	padding:35px; 
	display: inline-grid;
    width: 100%;
	background:#fff;

	@include breakpoint(xs){ padding: 20px;}

	@include breakpoint(sm){ padding: 20px;}

	@include breakpoint(md){ padding: 35px;}
}
.single-post .footer-outer,
.single-product .footer-outer,
.page-template .footer-outer,
.page-template-default .footer-outer{
	margin-top: 40px;
}
.footer {
	background: url('../images/footer-bg.png') no-repeat;
	padding: 30px 0;

	@include breakpoint(xs){ 
		padding: 15px;
	}
	@include breakpoint(md){ 
		text-align: left;
		
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	}
	@include breakpoint(sm){ 
		display: inline-block;
    	width: 100%;
	}
	@include breakpoint(xs-sm){ 
	// text-align:center;
	}
	.quick-links {
		@include breakpoint(lg){ width:25%; }
		@include breakpoint(md){ width:33.33%; }
		@include breakpoint(sm){ width:50%;float: left; }
		@include breakpoint(xs){ width:100%;padding-bottom: 15px;}
	}
	.footer-contact {
		@include breakpoint(lg){ width:50%; }
		@include breakpoint(md){ width:33.33%; }
		@include breakpoint(sm){ width:50%;float: left; }
		@include breakpoint(xs){ width:100%;padding-bottom: 15px;}
	}
	.footer-logo {
		
		@include breakpoint(lg){ width:25%;text-align: center; }
		@include breakpoint(md){ width:33.33%; }
		@include breakpoint(sm){ width:100%;float: left;text-align: center; }
		@include breakpoint(xs){ width:100%; text-align: left;}
		img {
			max-width: 175px;
			margin-bottom: 15px;
		}
	}
	.footer-contact {
		color: #8598A7;   
		div {
			color: #fff;
		}
	}
	h4 {
		color: #8598A7; font-size:22px;   
		margin-bottom: 25px; @include breakpoint(xs){ margin-bottom: 15px;}
		font-family: 'HighSchoolUSASans';
	}
.menu li {
	width: 100%;
	@include breakpoint(sm){ 
		width: 100%;
	}
	@include breakpoint(md){ 
		width: 100%;
		float: none;
		display: inline-block;
	}
}
	p {
		color: #fff;
	
		    font-family: 'ROBOTO-LIGHT';
		    //font-weight: 600;
	}
	a {
		  color: #fff;
		  font-family: 'ROBOTO-LIGHT';
		  //font-weight: 600;
	}
}
.quick-links {
	@include breakpoint(md){ 
		padding-left: 50px; 
	}
	@include breakpoint(sm){ 
		padding-left: 25px;
	}
}
.contact-outer {
	@include breakpoint(lg){ 
		display: flex;
		justify-content: space-between;
	}
}

.last-footer {
	border-top: 11px solid #F3B52F;
	margin-top: 25px; 
	background:#8598A7;
	a{ color: #3e4d57; }
	p {
		text-align: center;
		color: #3e4d57;
		padding: 10px 0;font-weight: bold;

	}
}