.top-header {
   
    @include breakpoint(md){ 
    	height: 134px;
    	display:flex; 
    	justify-content: space-between;
    }
     @include breakpoint(sm){ 
     	display: flex;
       justify-content: space-between;
    	background: #fff; 
        height: 100px;
     } 
      @include breakpoint(xs){ 
      	margin-top: 45px;    height: 65px;
      }
      .text {
      
         @include breakpoint(sm){
           display: flex;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            font-family: 'ROBOTO-LIGHT';
            font-size: 32px;
        }
         @include breakpoint(xs){ display: none;}
    }
     .header-logo { 
        img {
              @include breakpoint(sm){ 
                max-width: 187px;
             }
               @include breakpoint(md){ 
                max-width: 100%;
             }
        }
     	  @include breakpoint(xs){ 
     	 	display: none;
     	 }
     	  @include breakpoint(sm){ 
     	 	display: block;
     	 }
     }    
}
.register-buttons {
    background:url('../images/Basketball_button.png');
    background-size: cover;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 25px;
     @include breakpoint(xs){padding:15px 25px; }

        a{
            font-family: 'HighSchoolUSASans';
            font-size: 30px;
              @include breakpoint(sm){font-size: 20px; }
              @include breakpoint(md){font-size: 30px; }
              @include breakpoint(xs){font-size: 20px; }
        }



     
}
.top-logo {
	display:inline-block;
	float: left;
	//margin-top: 11px;
	@include breakpoint(md){ 
		 padding-left:20px;
	}
	@include breakpoint(xs){ 
		padding: 20px 0px;

	} 
}


form#searchform {
    position: relative;
    width: 100%;
}
.search-box {
    float: right;
   // margin-top: -35px;
  //  padding-right: 38px;
    display:none;
    @include breakpoint(xs){ 
     	display:block;
     }
     @include breakpoint(sm){ 
     	display:block;
     }
     @include breakpoint(md){ 
     	display:block;
     }

    input[type="text"] {
    	    
	
		    height: 55px;
		    line-height: 49px;
		    font-size: 15px;
		    padding-left: 10px;
		    color: #8799a9;
		    font-family: 'HighSchoolUSASans';
		    padding-right: 50px;background: transparent;
		    border:none;
		    outline:none;    
		    max-width: 150px;
    }
	  #searchsubmit {
	   	background:transparent;
	   	    font-size: 17px;
	   	    height: 50px;
   		    width: 50px;
	   	    border:0;
	   	    font-family: "webfont";
	   	    color: #8799a9;
		   	    &:focus {
		    	outline: none;
		    }
	}
}
 

 
