#news-panel .panel-content { padding-top: 0; }
.news-box {
  background: #fff;
  padding: 35px;
  @include breakpoint(xs){
      padding: 20px;
  }

  .feature-img {
    position: relative;
  }
  .news-title {
    position:absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 15px;
    margin:0;
     @include breakpoint(xs){
      position:relative;    padding: 10px 0;
     }
    h4 {
        font-family: 'ROBOTO-LIGHT';
        font-size: 25px;
             @include breakpoint(xs){
                font-size: 18px;
            }
      }
  }
  .news-more {
    a {
      font-family: 'ROBOTO-BOLD';
      font-size: 18px;
           @include breakpoint(xs){
                font-size: 15px;
            }
    }
  }

  .news-cat {
      position: absolute;
      top: 0;
      background: url('../images/yello-btn.png');
      padding: 10px;
      font-family: 'HighSchoolUSASans';
      color: #002991;
      font-size:18px;
       @include breakpoint(sm){ display: block; }
      @include breakpoint(xs){ display: none; }
  }

  .news-cat-mobile {
      position: absolute;
      top: 0;
      background: url('../images/yello-btn.png');
      padding: 15px;
      font-family: 'HighSchoolUSASans';
      color: #002991;
      font-size:17px;
      @include breakpoint(sm){ display: none; }
      @include breakpoint(xs){ display: block;padding: 10px;  }
  }


}
.subsribe-box {
     background: #F3B52F;
     padding: 25px 10px;
     color: #002991;
        @include breakpoint(sm){
         
          padding: 25px 15px;
          min-height: 126px;
          vertical-align: middle;
          justify-content: space-between;
          align-items: center;
          display: flex;    
          z-index: 99999;
        }
    ul {
      padding:0;
    }
 
  .main {
    font-family: 'HighSchoolUSASans';color: #002991;font-size:18px;
  }
  span {
    font-family: 'ROBOTO-LIGHT';
  }
  .gform_wrapper{
    margin:0 !important;
  }
  .gform_wrapper ul li.gfield, .gform_wrapper li.hidden_label input { margin:0 !important; }
  .gform_body, .gform_footer {
   
    padding:0 !important;
    margin:0 !important;
    clear: none !important;
     @include breakpoint(xs){ float: none; }
  }
  ul li {
    display: inline-block;
     @include breakpoint(xs){
        width: 100%;
        margin: 5px 0;
      }
  }
  ul li label { display: none; }
  input[type="text"], input[type="email"] {
       padding: 9px 7px;  
       @include breakpoint(xs){
        width: 100%;
       }
        @include breakpoint(sm){
           padding: 7px 7px;  margin: 0 5px;
        }
         @include breakpoint(md){
            width: 240px !important;
            padding: 9px 7px !important;  
            border: none !important;
            margin-right: 15px;
         
         }
        &:focus {
          outline: none;
        }
  }
  .gform_footer input[type=submit] {
        background: url('../images/submit-btn.svg') no-repeat !important;
      border: none;
      padding: 0;
      font-size: 0 !important;
      border-radius: 0;
      width: 40px !important; height: 40px !important;
      &:focus {
        outline: none;
      }
  }
  div#gform_confirmation_message_1 {
      color: #002991;
      font-size: 18px;
      font-family: 'ROBOTO-BOLD';
    }
}

 .gform_footer input[type=submit] {
      border: none;
      background: #0c2991;
      color: #fff;
      padding: 6px 25px;
      font-weight: 600;
      text-transform: uppercase;
  }