.post-content {
	img {
		max-width: 100%;
		// width: 450px;
		// height: 175px;
		// @include breakpoint(xs){
		// 	max-width: 100%;
  //   		height: auto;
		// }
	}

	.featured-image {
		// margin-top: 10px;
		margin-bottom: 20px;
		 @include breakpoint(xs){
		 	margin-top: 22px;
		 }
	}
}

.news-title {
	margin-bottom: 10px;
}

.widget-wrapper {
	
	img {
		
		 @include breakpoint(xs){
		 	border:none;
		 }
	}
}
 .buttons-box-inner li a {
        display: block;

    -webkit-font-smoothing: antialiased;
        color: $white;
        width: 100%;
        text-transform: uppercase;
        font-family: 'serpntbi';
        @include breakpoint(xs){
            text-align: left;
            font-size: 21px;
            margin-left: 13px;
        }
    }
    .buttons-box-inner li a > span {
        float: left;
        width: 85%;
    }
    .buttons-box-inner li:hover a {
        color: #fff;
    }
        .buttons-box-inner li:hover {
          // border: solid 1px #1a560c;
            background: #c20023;
    }
    .buttons-box-inner li
    {
        border: solid 1px #dddddd;
        height: 55px;
        align-items: center;
        display: flex;
        background: $theme_color;
         @include breakpoint(lg){
            font-size: 18px;
            height: 75px;
            padding: 10px;
        }
        @include breakpoint(md){
            font-size: 18px;
            height: 68px;
            padding: 10px;
        }
        @include breakpoint(sm){
            font-size: 17px;
            height: 66px;
            padding: 0px 10px;
        }
        .fa-chevron-circle-right:before {
        	background: rgba(0, 0, 0, 0.23);
		    padding: 7px;
		    border-radius: 100%;
		    font-size: 21px;
        }
    }
.buttons-box-inner {
	margin-top:12px;
    padding: 0;
    margin: 0;
    background: #fff;
    display:block;
}
.post-meta {
	p {
		margin-bottom: 0;
	}
	.tags {
		font-size: 12px;
		text-transform: uppercase;
		a {
			background: $dark_blue;
			color: #fff;
			border-radius: 2px;
			margin: 0 2px;
			padding: 0 3px;
			font-size: 12px;
			&:hover {
				text-decoration: none;
				background: $blue;
			}
		}
	}
}



#sidebar {
	// padding-right: 0;
}


/* Player Profile, Gallery - single */

.player-img-container, .cover-img-container {
	float: left;
	margin-right: 10px;
	@include breakpoint(xs){
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
.players-single, .gallery-single {
	p.intro {
		font-size: 16px;
		font-weight: 400;
	}
	td {
		padding: 0 5px;
	}
}

.is-landing {
	.custom-header-img, .custom-header-img-mobile {
		margin-bottom: 20px;
	}
}
#weblizar_twitter-3 .widget-title {

	display:none;
}