
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
    
// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//      .mv-slide {  height: 92px;  }
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//      .mv-slide {  height: 172px;  }
// }

// /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) { 
//    .mv-slide {  height: 100px;  }
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) { 
//       .mv-slide {  height: 220px;  }

// }

//  ----------- iPhone 6+, 7+ and 8+ ----------- 

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 

// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 
//      .mv-slide {  height: 110px;  }
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 
//   .mv-slide {  height: 220px;  }
// }

// /* ----------- iPhone X ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
//  .mv-slide {  height: 110px;  }
// }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 
//  .mv-slide {  height: 220px;  }
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 

// }
// body {
// 	background: #ccc !important
// }
#slider-panel {
  .panel-content {
    padding:0;
  }
}
.mv-slide {
    
    position:relative;
  /*   @include breakpoint(lg){
        height: 395px;
    }
    @include breakpoint(md){
        height: 300px;
    }
      @include breakpoint(sm){
        height: 250px;
    }*/
    @include breakpoint(xs){
       // height: 215px;
     /*   background-size: cover !important;
        background-position: left center !important;*/
    }
    
    
    .caption {
        position:absolute;
        top:50px; left: 50px;
        max-width: 450px;
        @include breakpoint(xs){
            top:15px; left: 15px;    max-width: 60%;
        }
          @include breakpoint(sm){
            top:25px; left: 25px;    max-width: 60%;
        }
          @include breakpoint(md){
              top:50px; left: 50px;   max-width: 450px;
        }
        span {
             font-family: 'HighSchoolUSASans';
             color:#fff;
               @include breakpoint(md){
                   font-size: 60px;line-height: 65px;
                }
                 @include breakpoint(lg){
                   font-size: 75px;line-height: 80px;
                }
                 @include breakpoint(sm){
                   font-size:45px;line-height: 50px;
                }
                 @include breakpoint(xs){
                    font-size: 25px;line-height: 31px;
                 }
                &:focus { outline: none; }
        }
        .small-text {
             font-family: 'HighSchoolUSASans';
             color: #F3B52F;
            
             @include breakpoint(md){
                font-size: 25px;
             }
               @include breakpoint(sm){
                font-size: 19px;
             }
        }
        .slider-title {
            margin-top: 20px;
        }
    }
/*    &:before {
         content: "";
          position: absolute;
          left: 0; right: 0;
          top: 0; bottom: 0;
          background: rgba(0, 41, 145, 0.66)  url('../images/overlay.png') no-repeat;
            @include breakpoint(lg){
                height: 395px;
            }
           @include breakpoint(md){
                height: 300px;
            }
            @include breakpoint(xs){
                background: rgba(0, 41, 145, 0.66)  url('../images/overlay_mobile.png') no-repeat;
                height: 200px;
            }
    }*/
}
.slick-dots {
    text-align: center; padding: 0;margin: 0;
    margin-top: 7px;
   // border-top: 8px solid #f0b728;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    li {
        float: left;
        padding: 0 10px;
        list-style: none;
    }
    li button {
        border:none;
        border-radius:100%;;
        background:#8598A7;
        font-size: 0;
        height: 15px; width: 15px; outline: none;
    }
      li.slick-active button {background: #F3B52F; }
}
.slick-slider-container {
	@include breakpoint(xs){
		  padding: 20px;
	}
    @include breakpoint(sm){
          padding: 20px 20px 10px 20px;
    }
    @include breakpoint(md){
          padding: 35px 35px 15px 35px;
    }
    background: #fff;
    padding: 35px 35px 15px 35px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
   
    &:focus {
        outline: none;
    }
}

.slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide {
   
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none; 
    }
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    // border: 1px solid transparent;
}

.mv-slider { display: none; }
.mv-slider.slick-initialized { display: block; }

