#banners-panel {
    .panel-content { padding: 0;  }
    .banner-outer {
            background: #fff;
            padding: 35px 35px 15px 35px;
              @include breakpoint(xs) {
		        padding: 20px 20px  15px 20px;
		    }
    }
    .slick-dots {
    	border-top: 8px solid #f0b728;
    }
}
.banners {

  padding: 0; text-align: center;margin: 0;
}