/* Search icon by IcoMoon, made with http://icomoon.io/app/ */

.sb-search {
  
    //display: inline-block;
    width: 0%;
    min-width: 58px;
    height: 60px;
    float: right;
   // overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
   
    @include breakpoint(sm){
       background: transparent;
    height: auto;
    width: auto;
    padding-top: 0;
    padding-right: 0;
    margin-top: 0;
    }
   
}
.sb-search-open .sb-search-input:after {
     content: "\f002";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
}
 
.sb-search-open .fa-search {
    display: block !important;
    position: absolute;
    right: 15px;
    top: 62px;
    z-index: 999;
}
.sb-search-input {
    position: absolute;
    
    right: 0;
    
    padding-left: 3px;
    outline: none;
    background: transparent;
   border:0;
    
    margin: 0;
    z-index: 10;
    // padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 18px;
    padding-left: 10px;
    color: #222;
      
    @include breakpoint(xs){
        width: 90%;   
    }
    @include breakpoint(sm){
        width: 350px;   
    }
    @include breakpoint(md){
        width: 250px;   
        height: 45px;
    }
    @include breakpoint(lg){
        width: 250px;   
        height: 52px;
    }
}
.sb-search-open {
    background: transparent;
    .sb-search-input {
        background: #fff;
        color: #000;
        border: none;
        z-index: 999;
        font-size: 15px;
       // font-style: italic;
        display:block;
        @include featured-font;
        @include breakpoint(xs){
            background:#eee;
            border-color: #eee;
            border-radius: 4px;
            color: #000;
        }
    }
    @include breakpoint(xs){
        background: transparent;
    }
}

.sb-search {
    ::placeholder {
        color: transparent;
    }
}
.sb-search.sb-search-open {
    ::placeholder {
        color: #999;
        @include breakpoint(xs){
            color: transparent;
        }
    }
}


.sb-icon-search,
.sb-search-submit  {
    background: transparent;
    width: 43px;
    height: 46px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
    @include breakpoint(xs){
        height: 50px;   
    }
}

.sb-search-submit {
    background: transparent; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    z-index: 90;
    font-size: 24px;
    background: #0000001f;
    @include webfont;
}

.sb-icon-search:before {
    content: "s";
    @include breakpoint(xs){
        font-size: 22px;
    }
    font-size: 20px;
}

/* Open state */

#sb-search.sb-search-open {
    // right: 0px
}

.sb-search.sb-search-open,
.no-js .sb-search {
       // margin-left: 5px;
        z-index: 10000;
        background: transparent;
        height: auto;
        width: auto;
        padding-top: 0;
        padding-right: 0;
        margin-top: 0;
}
.sb-search.sb-search-open {


}
.sb-search.sb-search-open .sb-icon-search {
    background: #0000001f;
    width: 43px;
}

.no-js .sb-search .sb-icon-search {
    background: transparent;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
