#ff-stream-2 .ff-header h1,#ff-stream-2 .ff-controls-wrapper > span:hover { color: rgb(59, 61, 64); }
#ff-stream-2 .ff-controls-wrapper > span:hover { border-color: rgb(59, 61, 64) !important; }
#ff-stream-2 .ff-header h2 { color: rgb(114, 112, 114); }
#ff-stream-2 .ff-filter-holder .ff-filter,
#ff-stream-2 .ff-filter-holder:before,
#ff-stream-2 .selectric,
#ff-stream-2 .ff-filter-holder .selectric-ff-filters-select .selectric-items,
#ff-stream-2 .ff-loadmore-wrapper .ff-btn:hover {
	background-color: rgb(205, 205, 205);
}
#ff-stream-2 .ff-filter:hover,
#ff-stream-2 .ff-filter.ff-filter--active,
#ff-stream-2 .ff-moderation-button,
#ff-stream-2 .ff-loadmore-wrapper .ff-btn,
#ff-stream-2 .ff-square:nth-child(1) {
	background-color: rgb(59, 61, 64);
}
#ff-stream-2 .ff-filter-holder .ff-search input {
	border-color: rgb(205, 205, 205);
}
#ff-stream-2 .ff-search input:focus,
#ff-stream-2 .ff-search input:hover {
border-color: rgb(59, 61, 64);
}

#ff-stream-2 .ff-filter-holder .ff-search:after {
	color: rgb(205, 205, 205);
}
#ff-stream-2 .selectric .button:before{
    border-top-color: rgb(205, 205, 205);
}
#ff-stream-2, #ff-stream-2 .ff-popup,
#ff-stream-2 .ff-search input {
	background-color: rgb(240, 240, 240);
}

#ff-stream-2 .ff-header h1, #ff-stream-2 .ff-header h2 {
	text-align: center;
}
#ff-stream-2 .ff-controls-wrapper, #ff-stream-2 .ff-controls-wrapper > span {
	border-color: rgb(205, 205, 205);
}
#ff-stream-2 .ff-controls-wrapper, #ff-stream-2 .ff-controls-wrapper > span {
	color: rgb(205, 205, 205);
}
#ff-stream-2 .shuffle__sizer{
<!--	width:  --><!--px;-->
}
#ff-stream-2 .ff-item {
<!--	margin-bottom: --><!--px !important;-->
}
#ff-stream-2 .shuffle__sizer {
	margin-left: 20px !important;
}

#ff-stream-2 .picture-item__inner {
	background: rgb(255, 255, 255);
	color: rgb(131, 141, 143);
	box-shadow: 0 1px 4px 0 rgb(255, 255, 255);
}

#ff-stream-2-slideshow .ff-share-popup, #ff-stream-2-slideshow .ff-share-popup:after,
#ff-stream-2 .ff-share-popup, #ff-stream-2 .ff-share-popup:after {
	background: rgb(255, 255, 255);
}

#ff-stream-2 .ff-mob-link {
	background-color: rgb(131, 141, 143);
}

#ff-stream-2 .ff-mob-link:after,
#ff-stream-2-slideshow .ff-share-wrapper a:after {
	color: rgb(255, 255, 255);
}
#ff-stream-2,
#ff-stream-2-slideshow {
	color: rgb(131, 141, 143);
}
#ff-stream-2 li,
#ff-stream-2 .ff-square {
	background: rgb(255, 255, 255);
}
#ff-stream-2 .ff-icon, #ff-stream-2-slideshow .ff-icon {
	border-color: rgb(255, 255, 255);
}
#ff-stream-2 .ff-style-2 .ff-icon:after {
	text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

#ff-stream-2 .ff-item h1, #ff-stream-2 .ff-item h4, #ff-stream-2-slideshow h4,#ff-stream-2-slideshow h4 a,
#ff-stream-2 .ff-name, #ff-stream-2-slideshow .ff-name {
	color: rgb(59, 61, 64) !important;
}

#ff-stream-2 .ff-mob-link:hover {
	background-color: rgb(59, 61, 64);
}
#ff-stream-2 .ff-nickname,
#ff-stream-2 .ff-timestamp,
#ff-stream-2 .ff-item-bar,
#ff-stream-2 .ff-item-bar a {
	color: rgb(0, 0, 0) !important;
}
#ff-stream-2-slideshow .ff-item-meta:before {
	background-color: rgb(131, 141, 143) !important;
}
#ff-stream-2 .ff-item {
	text-align: left;
}
#ff-stream-2 .ff-overlay {
	background-color: rgba(0, 0, 0, 0.75);
}

