/* =Header Menu (Primary)
-------------------------------------------------------------- */

/* line 4, ../sass/partials/_nav.scss */

#nav-container .menu li:hover > a {
	background: #f0b728;
	color: #002991;
}

/* line 9, ../sass/partials/_nav.scss */

.simple-button {
	background: #8598A7;
	display: grid;
}

/* line 12, ../sass/partials/_nav.scss */

.simple-button .menu > li {
	width: 50%;
	text-align: center;
}

/* line 15, ../sass/partials/_nav.scss */

.simple-button .menu > li:hover {
	background: #73828f;
}

/* line 19, ../sass/partials/_nav.scss */

.simple-button .menu > li > li {
	padding-left: 15px;
}

/* line 22, ../sass/partials/_nav.scss */

.simple-button .sub-menu li {
	text-align: left;
	padding-left: 25px;
}

/* line 25, ../sass/partials/_nav.scss */

.simple-button .sub-menu li a {
	font-family: ROBOTO-BOLD;
	text-transform: none;
}

/* line 29, ../sass/partials/_nav.scss */

.simple-button .menu a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	color: #fff;
	font-family: 'HighSchoolUSASans';
	font-size: 23px;
	font-weight: 100;
	font-weight: 100;
	text-transform: uppercase;
	border: 0;
	opacity: .4;
	position: relative;
}

/* line 40, ../sass/partials/_nav.scss */

.simple-button .menu a:hover {
	color: #fff;
	background: transparent;
}

/* line 77, ../sass/partials/_nav.scss */

.simple-button .menu {
	clear: both;
	margin: 0 auto;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/* line 91, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu ul.sub-menu:after {
	display: none;
}

/* line 94, ../sass/partials/_nav.scss */

#nav-container {
	background: transparent;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

/* line 113, ../sass/partials/_nav.scss */

#nav-container .active-parent > a {
	color: #fff !important;
}

/* line 116, ../sass/partials/_nav.scss */

#nav-container .menu {
	clear: both;
	margin: 0 auto;
	webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

/* line 130, ../sass/partials/_nav.scss */

#nav-container .sub-menu li a {
	color: #002991;
	font-size: 12px;
	font-family: 'ROBOTO-MEDIUM';
	text-transform: none;
}

/* line 138, ../sass/partials/_nav.scss */

#nav-container .sub-menu li a:hover {
	text-decoration: none;
}

/* line 161, ../sass/partials/_nav.scss */

#nav-container .current-menu-ancestor a {
	opacity: 1 !important;
}

/* line 165, ../sass/partials/_nav.scss */

#nav-container .menu a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	color: #8598A7;
	font-family: 'HighSchoolUSASans';
	font-size: 23px;
	font-weight: 100;
	font-weight: 100;
	text-transform: uppercase;
	border: 0;
	opacity: .4;
	position: relative;
}

/* line 176, ../sass/partials/_nav.scss */

#nav-container .menu a:hover {
	color: #0f2891;
	background: transparent;
	opacity: 1;
	background: #f0b823;
}

/* line 215, ../sass/partials/_nav.scss */

#nav-container #nav-container .main-nav li a:hover,
#nav-container #nav-container .current_page_item a,
#nav-container .home #menu-panel .top-nav li a:hover,
#nav-container .news-title span,
#nav-container .page-title span,
#nav-container .page-title {
	color: #fff;
}

/* line 218, ../sass/partials/_nav.scss */

#nav-container .home #nav-container .main-nav li a:hover {
	color: #fff !important;
}

/* line 225, ../sass/partials/_nav.scss */

#nav-container .menu ul a:hover {
	color: #002991;
	background: transparent;
	opacity: 1;
}

/* line 235, ../sass/partials/_nav.scss */

#nav-container .menu .menu-item-has-children a:hover {
	border-color: transparent;
}

/* line 239, ../sass/partials/_nav.scss */

#nav-container .menu > li {
	position: relative;
}

/* line 258, ../sass/partials/_nav.scss */

#nav-container .menu > li:last-child {
	padding-right: 0;
}

/* line 261, ../sass/partials/_nav.scss */

#nav-container .menu > li:before {
	right: 0;
	border-right: 1px solid #ccc;
}

/* line 265, ../sass/partials/_nav.scss */

#nav-container .menu > li:after {
	left: 0;
	border-left: 1px solid #fff;
}

/* line 269, ../sass/partials/_nav.scss */

#nav-container .menu > li:first-child:after {
	display: none;
}

/* line 272, ../sass/partials/_nav.scss */

#nav-container .menu > li:last-child:before {
	display: none;
}

/* line 278, ../sass/partials/_nav.scss */

#nav-container .menu li:hover {
	white-space: normal;
	z-index: 10000;
}

/* line 284, ../sass/partials/_nav.scss */

.menu,
.menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* line 302, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu li.menu-item-has-children:after {
	content: "\f054";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	right: 9px;
	top: 12px;
	position: absolute;
	color: #002991;
}

/* line 317, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu .sub-menu .sub-menu:after {
	display: none;
}

/* line 323, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu:after {
	content: "";
	position: absolute;
	top: -9px;
	left: 17px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
}

/* line 342, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu ul.sub-menu {
	margin-top: 0;
	border-left: 1px solid #002991;
}

/* line 350, ../sass/partials/_nav.scss */

.menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

/* line 360, ../sass/partials/_nav.scss */

.menu li li {
	float: none;
	border-bottom: 1px solid #122185;
}

/* line 363, ../sass/partials/_nav.scss */

.menu li li:last-child {
	border: none;
}

/* line 366, ../sass/partials/_nav.scss */

.menu ul {
	left: 0;
	position: absolute;
	display: none;
	z-index: 10;
	background: #f0b728;
}

/* line 376, ../sass/partials/_nav.scss */

.menu li:hover > ul {
	top: 100%;
	display: block;
}

/* line 383, ../sass/partials/_nav.scss */

.menu:after,
.menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
}

/* line 403, ../sass/partials/_nav.scss */

.menu,
.menu ul {
	min-height: 0;
}

/* line 408, ../sass/partials/_nav.scss */

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

/* line 414, ../sass/partials/_nav.scss */

.menu ul li a,
.menu li li a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* line 417, ../sass/partials/_nav.scss */

.menu ul li a:hover,
.menu li li a:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
	background: #007de9;
}

/* line 425, ../sass/partials/_nav.scss */

.menu ul {
	min-width: 250px;
	width: auto;
}

/* line 435, ../sass/partials/_nav.scss */

.menu .current_page_item a {
	background: none;
	background-color: transparent;
	background-image: none;
	-webkit-filter: none;
	filter: none;
}

/* line 442, ../sass/partials/_nav.scss */

.menu li li {
	background-image: none;
	-webkit-filter: none;
	filter: none;
	width: auto;
}

/* line 465, ../sass/partials/_nav.scss */

.menu li li a:hover {
	background-image: none;
	border: none;
	-webkit-filter: none;
	filter: none;
}

/* line 472, ../sass/partials/_nav.scss */

.menu li li:hover {
	-webkit-filter: none;
	filter: none;
}

/* line 477, ../sass/partials/_nav.scss */

.menu ul > li + li {
	border-top: 0;
}

/* line 481, ../sass/partials/_nav.scss */

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

/* line 486, ../sass/partials/_nav.scss */

.menu > li:first-child > a {
	border-left: none;
}

/* line 489, ../sass/partials/_nav.scss */

.menu > li:last-child > a {
	border-left: none;
}

/*.js .main-nav .menu {*/

/*display: block;*/

/*}*/

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */

/* line 509, ../sass/partials/_nav.scss */

.ie7 .menu ul {
	background: url(core/images/ie7-fix.gif) repeat;
}

/* line 513, ../sass/partials/_nav.scss */

.ie7 .menu li li a {
	min-width: 100%;
}

/* line 682, ../sass/partials/_nav.scss */

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

/* line 687, ../sass/partials/_nav.scss */

.nav > li {
	position: relative;
	display: block;
	float: left;
}

/* line 692, ../sass/partials/_nav.scss */

.nav > li > a {
	position: relative;
	display: block;
	padding: 3px 6px;
	background: #aaa;
	color: #fff;
}

/* line 699, ../sass/partials/_nav.scss */

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #00549c;
}

/* line 704, ../sass/partials/_nav.scss */

.nav > li.disabled > a {
	color: #777777;
}

/* line 707, ../sass/partials/_nav.scss */

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #777777;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

/* line 714, ../sass/partials/_nav.scss */

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #eeeeee;
	border-color: #428bca;
}

/* line 720, ../sass/partials/_nav.scss */

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

/* line 727, ../sass/partials/_nav.scss */

.nav-pills > li {
	float: left;
}

/* line 730, ../sass/partials/_nav.scss */

.nav-pills > li > a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* line 733, ../sass/partials/_nav.scss */

.nav-pills > li > a .triangle {
	margin-top: 5px;
}

/* line 737, ../sass/partials/_nav.scss */

.nav-pills > li + li {
	margin-left: 2px;
}

/* line 740, ../sass/partials/_nav.scss */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: #00549c;
}

/* line 746, ../sass/partials/_nav.scss */

.tab-content > .tab-pane {
	display: none;
}

/* line 749, ../sass/partials/_nav.scss */

.tab-content > .active {
	display: block;
}

/* line 752, ../sass/partials/_nav.scss */

.nav:before,
.nav:after {
	content: " ";
	display: table;
}

/* line 757, ../sass/partials/_nav.scss */

.nav:after {
	clear: both;
}

/* line 762, ../sass/partials/_nav.scss */

.sb-search-open .sb-icon-search:before {
	content: "\f00d";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
}

/* line 770, ../sass/partials/_nav.scss */

.main-nav {
	float: left;
}

/* line 771, ../sass/partials/_nav.scss */

#wprmenu_menu ul li a {
	font-size: 16px;
	font-family: 'serpntbi';
	text-transform: uppercase;
}

/* line 776, ../sass/partials/_nav.scss */

#wprmenu_menu.left,
#wprmenu_menu.right {
	top: 82px;
	position: fixed;
	z-index: 99999;
}

/* line 780, ../sass/partials/_nav.scss */

.menu_title {
	display: block;
	position: absolute;
	top: 8px;
	left: 20px;
	padding-top: 5px;
}

/* line 787, ../sass/partials/_nav.scss */

#wprmenu_menu .wprmenu_icon:before,
#wprmenu_bar [data-icon]:before {
	color: #ccc;
}

/* line 790, ../sass/partials/_nav.scss */

#wprmenu_bar {
	height: 84px !important;
}

/* line 798, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
	border-left: none !important;
}

/* line 801, ../sass/partials/_nav.scss */

.wpr_search .wpr-search-field {
	background: #0a1741;
	border-color: #0a1741;
	outline: none;
	height: 50px;
}

/* line 808, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels ul li {
	border-top: none !important;
}

/* line 811, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
	margin-left: 0;
	text-transform: uppercase;
}

/* line 815, ../sass/partials/_nav.scss */

#wprmenu_menu .wprmenu_icon_par {
	padding: 13px 0;
	left: 93%;
	right: 0;
}

/* line 816, ../sass/partials/_nav.scss */

#wprmenu_bar .wprmenu_icon {
	top: 20px;
}

/* line 819, ../sass/partials/_nav.scss */

#wprmenu_bar .bar_logo {
	height: auto;
	max-width: 85%;
}

/* line 826, ../sass/partials/_nav.scss */

#wprmenu_bar,
#wprmenu_bar *,
#wprmenu_menu { /*height: 70px;*/
	color: #fff;
	z-index: 9999;
}

/* line 831, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels ul li ul {
	background: #0a1741;
}

/* line 836, ../sass/partials/_nav.scss */

#wprmenu_bar div.hamburger {
	margin-top: 20px !important;
}

/* line 840, ../sass/partials/_nav.scss */

#mg-wprm-wrap.cbp-spmenu-left,
#mg-wprm-wrap.cbp-spmenu-right {
	top: 84px !important;
}

/* line 844, ../sass/partials/_nav.scss */

#wprmenu_menu ul.sub-menu a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding: 10px 0;
	line-height: 15px;
	text-transform: none;
}

/* line 852, ../sass/partials/_nav.scss */

.wpr_search {
	padding: 0 !important;
}

/* line 854, ../sass/partials/_nav.scss */

#wprmenu_menu .wprmenu_icon:before {
	content: "\f078";
	font: normal normal normal 14px/1 FontAwesome;
}

/* line 858, ../sass/partials/_nav.scss */

#wprmenu_menu .wprmenu_par_opened:before {
	content: "\f077";
	font: normal normal normal 14px/1 FontAwesome;
}

/* line 862, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels ul li ul li.wprmenu_parent_item_li .wprmenu_icon_par {
	margin-left: 0;
}

/* line 865, ../sass/partials/_nav.scss */

#wprmenu_menu.wprmenu_levels ul li ul li.wprmenu_parent_item_li a.wprmenu_parent_item {
	margin-left: 45px;
}

/* line 868, ../sass/partials/_nav.scss */

#wprmenu_bar .bar_logo {
	border-right: 1px solid #c5c5c5;
}

/* line 873, ../sass/partials/_nav.scss */

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* line 882, ../sass/partials/_nav.scss */

.dropdown {
	position: relative;
	display: inline-block;
}

/* line 887, ../sass/partials/_nav.scss */

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* line 897, ../sass/partials/_nav.scss */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* line 904, ../sass/partials/_nav.scss */

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* line 905, ../sass/partials/_nav.scss */

.dropdown:hover .dropdown-content {
	display: block;
}

/* line 906, ../sass/partials/_nav.scss */

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* line 908, ../sass/partials/_nav.scss */

.main-nav .menu li.current_page_item,
.menu .current_page_item a,
.main-nav .menu .current-menu-item a {
	background: #f0b823;
	color: #0f2891 !important;
}

/* line 46, ../sass/partials/_header.scss */

.register-buttons {
	background: url("../images/Basketball_button.png");
	-webkit-background-size: cover cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 25px;
}

/* line 56, ../sass/partials/_header.scss */

.register-buttons a {
	font-family: 'HighSchoolUSASans';
	font-size: 30px;
}

/* line 68, ../sass/partials/_header.scss */

.top-logo {
	display: inline-block;
	float: left;
}

/* line 82, ../sass/partials/_header.scss */

form#searchform {
	position: relative;
	width: 100%;
}

/* line 86, ../sass/partials/_header.scss */

.search-box {
	float: right;
	display: none;
}

/* line 101, ../sass/partials/_header.scss */

.search-box input[type="text"] {
	height: 55px;
	line-height: 49px;
	font-size: 15px;
	padding-left: 10px;
	color: #8799a9;
	font-family: 'HighSchoolUSASans';
	padding-right: 50px;
	background: transparent;
	border: none;
	outline: none;
	max-width: 150px;
}

/* line 115, ../sass/partials/_header.scss */

.search-box #searchsubmit {
	background: transparent;
	font-size: 17px;
	height: 50px;
	width: 50px;
	border: 0;
	font-family: "webfont";
	color: #8799a9;
}

/* line 123, ../sass/partials/_header.scss */

.search-box #searchsubmit:focus {
	outline: none;
}

/* line 2, ../sass/partials/_common-styles.scss */

.center {
	text-align: center;
}

/* line 7, ../sass/partials/_common-styles.scss */

.archive-img {
	float: left;
	margin: 0 15px 15px 0;
	max-width: 155px;
	height: auto;
}

/* line 19, ../sass/partials/_common-styles.scss */

.panel-light h1 a {
	color: #00549c;
}

/* line 44, ../sass/partials/_common-styles.scss */

.home-panel {
	position: relative;
}

/* line 47, ../sass/partials/_common-styles.scss */

.panel-content {
	position: relative;
}

/* line 69, ../sass/partials/_common-styles.scss */

#mfcplay {
	margin: 50px 0 50px 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 880px;
}

/* line 76, ../sass/partials/_common-styles.scss */

.panel-no-arrrow div#scroll {
	display: none;
}

/* line 77, ../sass/partials/_common-styles.scss */

.panel-dark .fa-chevron-down {
	color: #fff;
	background: #fff;
}

/* line 81, ../sass/partials/_common-styles.scss */

.panel-light .fa-chevron-down {
	color: #000;
	background: #fff;
}

/* line 85, ../sass/partials/_common-styles.scss */

div#scroll {
	bottom: 23px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	z-index: 99;
	text-align: center;
	width: 100%;
}

/* line 89, ../sass/partials/_common-styles.scss */

div#scroll .fa-chevron-down {
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	margin: 0 auto;
}

/* line 99, ../sass/partials/_common-styles.scss */

div#scroll .fa-chevron-down:before {
	position: absolute;
	top: 16%;
	left: 0;
	right: 0;
	color: #e4002a;
	border-bottom: 3px solid #fff;
}

/* line 116, ../sass/partials/_common-styles.scss */

.container #content,
.container #content-wrap {
	background: #fff;
	margin-bottom: 40px;
	border-top: 10px solid #f0b728;
}

/* line 124, ../sass/partials/_common-styles.scss */

.pagination1 a:first-child {
	font-weight: bold;
	float: left;
}

/* line 128, ../sass/partials/_common-styles.scss */

.pagination1 a {
	font-weight: bold;
	float: right;
}

/* line 132, ../sass/partials/_common-styles.scss */

.post-content {
	margin: 0 0 15px;
	letter-spacing: 0px;
	color: #000;
	font-size: 14px;
	line-height: 23px;
}

/* line 141, ../sass/partials/_common-styles.scss */

.post-content strong {
	color: #0f2992;
	font-size: 14px;
	text-shadow: none;
	letter-spacing: 0px;
}

/* line 149, ../sass/partials/_common-styles.scss */

#main-content h1,
#hero h1,
#content-wrap h1 {
	text-transform: none;
	margin: 0 15px 15px 0;
}

/* line 158, ../sass/partials/_common-styles.scss */

.page-title {
	border-bottom: 2px solid #eee;
	margin-left: 15px !important;
}

/* line 162, ../sass/partials/_common-styles.scss */

.navigation.row {
	padding-bottom: 15px;
}

/* line 167, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news {
	padding-top: 15px;
}

/* line 183, ../sass/partials/_common-styles.scss */

.col-1 {
	padding-top: 30px;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

/* line 196, ../sass/partials/_common-styles.scss */

.banner-bg {
	background-repeat: no-repeat;
	height: 760px;
	width: 100%;
}

/* line 202, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	margin: 25px 0px 15px 0;
	text-align: right;
}

/* line 203, ../sass/partials/_common-styles.scss */

.breadcrumb-list a {
	color: #0f235d;
	font-size: 12px;
	font-weight: 500;
}

/* line 208, ../sass/partials/_common-styles.scss */

.breadcrumb-list .breadcrumb-current {
	font-weight: bold;
	font-size: 12px;
}

/* line 223, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4 {
	font-family: 'serpntbi';
	color: #0f235d;
	font-size: 20px;
	padding: 15px 0 7px 0;
	font-weight: 100;
	text-transform: uppercase;
}

/* line 230, ../sass/partials/_common-styles.scss */

.page-template-about .news-box h4:hover {
	color: #002991;
}

/* line 235, ../sass/partials/_common-styles.scss */

.pagination {
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
	padding-top: 10px;
}

/* line 241, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi {
	padding: 8px 0;
}

/* line 244, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a:hover,
.pagination .wp-pagenavi span.current {
	border-color: #0f2992;
}

/* line 247, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi span.current {
	color: #fff !important;
	background: #002991;
}

/* line 251, ../sass/partials/_common-styles.scss */

.pagination .previouspostslink,
.pagination .nextpostslink {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	border: 1px solid #8598A7;
}

/* line 256, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a,
.pagination .wp-pagenavi span {
	color: #002991;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 5px;
	font-size: 16px;
	padding: 5px 10px;
	font-family: 'ROBOTO-BOLD';
}

/* line 264, ../sass/partials/_common-styles.scss */

.pagination .wp-pagenavi a:hover,
.pagination .wp-pagenavi span:hover {
	color: #002991;
}

/* line 270, ../sass/partials/_common-styles.scss */

.status {
	color: #F3B52F;
	font-family: 'ROBOTO-BOLD';
	margin-bottom: 20px;
}

/* line 279, ../sass/partials/_common-styles.scss */

.more-link a {
	color: #0f235d;
	font-weight: bold;
	text-transform: uppercase;
}

/* line 284, ../sass/partials/_common-styles.scss */

.more-link {
	padding: 4px 0 10px;
}

/* line 287, ../sass/partials/_common-styles.scss */

.rel-article-content {
	color: #000;
	font-size: 13px;
	line-height: 19px;
}

/* line 296, ../sass/partials/_common-styles.scss */

.text-panel h1 {
	color: #fff;
}

/* line 302, ../sass/partials/_common-styles.scss */

.sponsor {
	padding: 30px;
	background: #fff;
}

/* line 306, ../sass/partials/_common-styles.scss */

.sponsor .slick-slider .slick-track {
	margin: 0 auto;
}

/* line 310, ../sass/partials/_common-styles.scss */

.sponsor .center {
	font-family: 'ROBOTO-LIGHT';
	font-size: 30px;
	margin-bottom: 30px;
}

/* line 320, ../sass/partials/_common-styles.scss */

.sponsors {
	padding: 0;
	text-align: center;
}

/* line 323, ../sass/partials/_common-styles.scss */

.sponsors li {
	display: inline-block;
	padding: 0 15px;
}

/* line 329, ../sass/partials/_common-styles.scss */

.widget_categories ul {
	padding: 0;
}

/* line 330, ../sass/partials/_common-styles.scss */

.widget_categories li {
	color: #000;
	line-height: 25px;
	list-style: none;
}

/* line 335, ../sass/partials/_common-styles.scss */

.widget_categories li:before {
	content: '>';
	color: #F3B52F;
	font-weight: bold;
	padding-right: 5px;
	font-size: 18px;
}

/* line 343, ../sass/partials/_common-styles.scss */

.widget_categories a {
	color: #000;
	line-height: 23px;
}

/* line 349, ../sass/partials/_common-styles.scss */

.news-box-archive {
	padding: 20px 0;
	border-bottom: 1px solid #F3B52F;
}

/* line 357, ../sass/partials/_common-styles.scss */

.news-box-archive:last-child {
	border: none;
}

/* line 362, ../sass/partials/_common-styles.scss */

#sidebar > div {
	margin-bottom: 25px;
}

/* line 366, ../sass/partials/_common-styles.scss */

.wdi_feed_theme_1 .wdi_pagination {
	display: none;
}

/* line 367, ../sass/partials/_common-styles.scss */

.social-feed {
	background: #fff;
	float: left;
	width: 100%;
	padding: 35px 20px;
}

/* line 382, ../sass/partials/_common-styles.scss */

.social-feed #ffwd_container1_0 #ffwd_container2_0 .bwg_blog_style_img_cont_0 .ffwd_blog_style_img_0 {
	max-width: 100% !important;
}

/* line 385, ../sass/partials/_common-styles.scss */

.social-feed #ffwd_container1_0 #ffwd_container2_0 .blog_style_object_container_0 {
	padding: 0;
}

/* line 386, ../sass/partials/_common-styles.scss */

.social-feed #ffwd_container1_0 #ffwd_container2_0 .ffwd_blog_style_object_info_container_0 {
	display: none;
}

/* line 389, ../sass/partials/_common-styles.scss */

.social-feed #ffwd_container1_0 #ffwd_container2_0 .bwg_blog_style_img_cont_0:before {
	content: '';
	background: url("../images/facebook_m.png") no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 38px;
	height: 42px;
}

/* line 399, ../sass/partials/_common-styles.scss */

.social-feed .wdi_thumb_icon:before {
	content: '';
	background: url("../images/instagram_m.png") no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 38px;
	height: 42px;
}

/* line 408, ../sass/partials/_common-styles.scss */

.wdi_thumb_icon div {
	display: none !important;
}

/* line 411, ../sass/partials/_common-styles.scss */

#mobmenuright li a {
	font-family: HighSchoolUSASans !important;
	border-bottom: 1px solid;
}

/* line 414, ../sass/partials/_common-styles.scss */

.mobmenu_content #mobmenuright .sub-menu a {
	font-family: ROBOTO-MEDIUM !important;
	border: none;
}

/* line 417, ../sass/partials/_common-styles.scss */

.mobmenu_content #mobmenuright .sub-menu {
	padding: 0 !important;
}

/* line 418, ../sass/partials/_common-styles.scss */

.mobmenu_content #mobmenuright .sub-menu a {
	border-bottom: 1px solid;
}

/* line 420, ../sass/partials/_common-styles.scss */

.mobmenu_content #mobmenuright .sub-menu .sub-menu a:before {
	content: '-  ';
}

/* line 426, ../sass/partials/_common-styles.scss */

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #f0b728;
	font-family: 'HighSchoolUSASans';
}

/* line 429, ../sass/partials/_common-styles.scss */

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce button.button {
	background-color: #002991;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-family: 'HighSchoolUSASans';
	font-weight: normal;
}

/* line 436, ../sass/partials/_common-styles.scss */

section.related.products {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #f0b728;
	padding-top: 15px;
}

/* line 442, ../sass/partials/_common-styles.scss */

.woocommerce .woocommerce-ordering select {
	-webkit-appearance: none;
	border: none;
	background: #002991;
	color: #fff;
	padding: 7px 12px;
}

/* line 449, ../sass/partials/_common-styles.scss */

.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
	color: #fff;
}

/* line 452, ../sass/partials/_common-styles.scss */

.woocommerce-message {
	border-top-color: #f0b728;
}

/* line 455, ../sass/partials/_common-styles.scss */

.woocommerce-message::before {
	content: '\e015';
	color: #f0b728;
}

/* line 459, ../sass/partials/_common-styles.scss */

.woocommerce span.onsale {
	background-color: #f0b728 !important;
}

/* line 462, ../sass/partials/_common-styles.scss */

.woocommerce ul.products li.product .price {
	color: #f0b728 !important;
}

/* line 466, ../sass/partials/_common-styles.scss */

.social-buttons {
	background: #8598A7;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 250px;
	float: right;
	color: #fff;
	padding: 12px 0;
	text-align: left;
	font-family: 'HighSchoolUSASans';
}

/* line 478, ../sass/partials/_common-styles.scss */

.social-buttons:last-child {
	padding-right: 15px;
}

/* line 483, ../sass/partials/_common-styles.scss */

.social-buttons .text {
	padding: 0 15px;
	font-size: 15px;
}

/* line 486, ../sass/partials/_common-styles.scss */

.social-buttons a {
	color: #fff;
}

/* line 487, ../sass/partials/_common-styles.scss */

.social-buttons .icons {
	padding: 0 5px;
	font-size: 20px;
}

/* line 491, ../sass/partials/_common-styles.scss */

.social-buttons div {
	display: inline-block;
	padding-right: 12px;
}

/* line 497, ../sass/partials/_common-styles.scss */

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
	border-color: #999;
	border-width: 1px;
	border-style: solid;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */

/* line 118, ../sass/partials/_slick.scss */

#slider-panel .panel-content {
	padding: 0;
}

/* line 122, ../sass/partials/_slick.scss */

.mv-slide {
	position: relative; /*   @include breakpoint(lg){
        height: 395px;
    }
    @include breakpoint(md){
        height: 300px;
    }
      @include breakpoint(sm){
        height: 250px;
    }*/ /*    &:before {
           content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: rgba(0, 41, 145, 0.66)  url('../images/overlay.png') no-repeat;
              @include breakpoint(lg){
                  height: 395px;
              }
             @include breakpoint(md){
                  height: 300px;
              }
              @include breakpoint(xs){
                  background: rgba(0, 41, 145, 0.66)  url('../images/overlay_mobile.png') no-repeat;
                  height: 200px;
              }
      }*/
}

/* line 141, ../sass/partials/_slick.scss */

.mv-slide .caption {
	position: absolute;
	top: 50px;
	left: 50px;
	max-width: 450px;
}

/* line 154, ../sass/partials/_slick.scss */

.mv-slide .caption span {
	font-family: 'HighSchoolUSASans';
	color: #fff;
}

/* line 169, ../sass/partials/_slick.scss */

.mv-slide .caption span:focus {
	outline: none;
}

/* line 171, ../sass/partials/_slick.scss */

.mv-slide .caption .small-text {
	font-family: 'HighSchoolUSASans';
	color: #F3B52F;
}

/* line 182, ../sass/partials/_slick.scss */

.mv-slide .caption .slider-title {
	margin-top: 20px;
}

/* line 204, ../sass/partials/_slick.scss */

.slick-dots {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 7px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 5px;
}

/* line 211, ../sass/partials/_slick.scss */

.slick-dots li {
	float: left;
	padding: 0 10px;
	list-style: none;
}

/* line 216, ../sass/partials/_slick.scss */

.slick-dots li button {
	border: none;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #8598A7;
	font-size: 0;
	height: 15px;
	width: 15px;
	outline: none;
}

/* line 223, ../sass/partials/_slick.scss */

.slick-dots li.slick-active button {
	background: #F3B52F;
}

/* line 225, ../sass/partials/_slick.scss */

.slick-slider-container {
	background: #fff;
	padding: 35px 35px 15px 35px;
}

/* line 238, ../sass/partials/_slick.scss */

.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

/* line 254, ../sass/partials/_slick.scss */

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

/* line 261, ../sass/partials/_slick.scss */

.slick-list:focus {
	outline: none;
}

/* line 266, ../sass/partials/_slick.scss */

.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* line 270, ../sass/partials/_slick.scss */

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

/* line 275, ../sass/partials/_slick.scss */

.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* line 283, ../sass/partials/_slick.scss */

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

/* line 288, ../sass/partials/_slick.scss */

.slick-track:before {
	content: "";
	display: table;
}

/* line 292, ../sass/partials/_slick.scss */

.slick-track:after {
	content: "";
	display: table;
	clear: both;
}

/* line 299, ../sass/partials/_slick.scss */

.slick-loading .slick-track {
	visibility: hidden;
}

/* line 303, ../sass/partials/_slick.scss */

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

/* line 310, ../sass/partials/_slick.scss */

[dir="rtl"] .slick-slide {
	float: right;
}

/* line 316, ../sass/partials/_slick.scss */

.slick-slide.slick-loading img {
	display: none;
}

/* line 319, ../sass/partials/_slick.scss */

.slick-slide.dragging img {
	pointer-events: none;
}

/* line 324, ../sass/partials/_slick.scss */

.slick-initialized .slick-slide {
	display: block;
}

/* line 328, ../sass/partials/_slick.scss */

.slick-loading .slick-slide {
	visibility: hidden;
}

/* line 332, ../sass/partials/_slick.scss */

.slick-vertical .slick-slide {
	display: block;
	height: auto;
}

/* line 338, ../sass/partials/_slick.scss */

.mv-slider {
	display: none;
}

/* line 339, ../sass/partials/_slick.scss */

.mv-slider.slick-initialized {
	display: block;
}

/* line 1, ../sass/partials/_news.scss */

#news-panel .panel-content {
	padding-top: 0;
}

/* line 2, ../sass/partials/_news.scss */

.news-box {
	background: #fff;
	padding: 35px;
}

/* line 9, ../sass/partials/_news.scss */

.news-box .feature-img {
	position: relative;
}

/* line 12, ../sass/partials/_news.scss */

.news-box .news-title {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 15px;
	margin: 0;
}

/* line 22, ../sass/partials/_news.scss */

.news-box .news-title h4 {
	font-family: 'ROBOTO-LIGHT';
	font-size: 25px;
}

/* line 31, ../sass/partials/_news.scss */

.news-box .news-more a {
	font-family: 'ROBOTO-BOLD';
	font-size: 18px;
}

/* line 40, ../sass/partials/_news.scss */

.news-box .news-cat {
	position: absolute;
	top: 0;
	background: url("../images/yello-btn.png");
	padding: 10px;
	font-family: 'HighSchoolUSASans';
	color: #002991;
	font-size: 18px;
}

/* line 52, ../sass/partials/_news.scss */

.news-box .news-cat-mobile {
	position: absolute;
	top: 0;
	background: url("../images/yello-btn.png");
	padding: 15px;
	font-family: 'HighSchoolUSASans';
	color: #002991;
	font-size: 17px;
}

/* line 66, ../sass/partials/_news.scss */

.subsribe-box {
	background: #F3B52F;
	padding: 25px 10px;
	color: #002991;
}

/* line 80, ../sass/partials/_news.scss */

.subsribe-box ul {
	padding: 0;
}

/* line 84, ../sass/partials/_news.scss */

.subsribe-box .main {
	font-family: 'HighSchoolUSASans';
	color: #002991;
	font-size: 18px;
}

/* line 87, ../sass/partials/_news.scss */

.subsribe-box span {
	font-family: 'ROBOTO-LIGHT';
}

/* line 90, ../sass/partials/_news.scss */

.subsribe-box .gform_wrapper {
	margin: 0 !important;
}

/* line 93, ../sass/partials/_news.scss */

.subsribe-box .gform_wrapper ul li.gfield,
.subsribe-box .gform_wrapper li.hidden_label input {
	margin: 0 !important;
}

/* line 94, ../sass/partials/_news.scss */

.subsribe-box .gform_body,
.subsribe-box .gform_footer {
	padding: 0 !important;
	margin: 0 !important;
	clear: none !important;
}

/* line 101, ../sass/partials/_news.scss */

.subsribe-box ul li {
	display: inline-block;
}

/* line 108, ../sass/partials/_news.scss */

.subsribe-box ul li label {
	display: none;
}

/* line 109, ../sass/partials/_news.scss */

.subsribe-box input[type="text"],
.subsribe-box input[type="email"] {
	padding: 9px 7px;
}

/* line 124, ../sass/partials/_news.scss */

.subsribe-box input[type="text"]:focus,
.subsribe-box input[type="email"]:focus {
	outline: none;
}

/* line 128, ../sass/partials/_news.scss */

.subsribe-box .gform_footer input[type=submit] {
	background: url("../images/submit-btn.svg") no-repeat !important;
	border: none;
	padding: 0;
	font-size: 0 !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 40px !important;
	height: 40px !important;
}

/* line 135, ../sass/partials/_news.scss */

.subsribe-box .gform_footer input[type=submit]:focus {
	outline: none;
}

/* line 139, ../sass/partials/_news.scss */

.subsribe-box div#gform_confirmation_message_1 {
	color: #002991;
	font-size: 18px;
	font-family: 'ROBOTO-BOLD';
}

/* line 146, ../sass/partials/_news.scss */

.gform_footer input[type=submit] {
	border: none;
	background: #0c2991;
	color: #fff;
	padding: 6px 25px;
	font-weight: 600;
	text-transform: uppercase;
}

/* line 1, ../sass/partials/_footer.scss */

.footer-outer {
	padding: 35px;
	display: inline-grid;
	width: 100%;
	background: #fff;
}

/* line 13, ../sass/partials/_footer.scss */

.single-post .footer-outer,
.single-product .footer-outer,
.page-template .footer-outer,
.page-template-default .footer-outer {
	margin-top: 40px;
}

/* line 19, ../sass/partials/_footer.scss */

.footer {
	background: url("../images/footer-bg.png") no-repeat;
	padding: 30px 0;
}

/* line 59, ../sass/partials/_footer.scss */

.footer .footer-logo img {
	max-width: 175px;
	margin-bottom: 15px;
}

/* line 64, ../sass/partials/_footer.scss */

.footer .footer-contact {
	color: #8598A7;
}

/* line 66, ../sass/partials/_footer.scss */

.footer .footer-contact div {
	color: #fff;
}

/* line 70, ../sass/partials/_footer.scss */

.footer h4 {
	color: #8598A7;
	font-size: 22px;
	margin-bottom: 25px;
	font-family: 'HighSchoolUSASans';
}

/* line 75, ../sass/partials/_footer.scss */

.footer .menu li {
	width: 100%;
}

/* line 86, ../sass/partials/_footer.scss */

.footer p {
	color: #fff;
	font-family: 'ROBOTO-LIGHT';
}

/* line 92, ../sass/partials/_footer.scss */

.footer a {
	color: #fff;
	font-family: 'ROBOTO-LIGHT';
}

/* line 113, ../sass/partials/_footer.scss */

.last-footer {
	border-top: 11px solid #F3B52F;
	margin-top: 25px;
	background: #8598A7;
}

/* line 117, ../sass/partials/_footer.scss */

.last-footer a {
	color: #3e4d57;
}

/* line 118, ../sass/partials/_footer.scss */

.last-footer p {
	text-align: center;
	color: #3e4d57;
	padding: 10px 0;
	font-weight: bold;
}

/* line 1, ../sass/partials/home-news.scss */

.front-more-news {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	padding-top: 10px;
}

/* line 7, ../sass/partials/home-news.scss */

.front-more-news .read-more {
	color: #0d223f;
	font-weight: 600;
	padding: 0 10px;
	font-size: 16px;
}

/* line 13, ../sass/partials/home-news.scss */

.front-more-news .sponsor-img {
	padding-top: 10px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	margin: 3px 0;
	padding: 14px;
	float: left;
	display: inline-block;
	background: #fff;
	line-height: 20px;
}

/* line 30, ../sass/partials/home-news.scss */

.front-more-news li p {
	padding: 0 10px;
	font-size: 15px;
	line-height: 26px;
}

/* line 35, ../sass/partials/home-news.scss */

.front-more-news li .rel-article-time {
	background: #fff;
	margin-bottom: 5px;
	padding: 5px 10px;
	font-size: 15px;
}

/* line 44, ../sass/partials/home-news.scss */

.rel-article-time {
	color: #999;
	font-size: 12px;
}

/* line 59, ../sass/partials/home-news.scss */

.more-news .fa-chevron-circle-right {
	padding-left: 10px;
}

/* line 83, ../sass/partials/home-news.scss */

.sponsor-img {
	padding-top: 10px;
}

/* line 84, ../sass/partials/home-news.scss */

.major-sponsor h3 {
	color: #fff;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding: 0;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	float: left;
	padding-top: 15px;
}

/* line 110, ../sass/partials/home-news.scss */

.sponsor-text ul {
	padding: 0px;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* line 114, ../sass/partials/home-news.scss */

.sponsor-text li {
	list-style: none;
	color: #fff;
	padding: 10px 5px;
	border-bottom: 1px solid;
}

/* line 119, ../sass/partials/home-news.scss */

.sponsor-text li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

/* line 127, ../sass/partials/home-news.scss */

.sponsor-text span.sub-text {
	font-size: 14px;
	font-weight: 100;
}

/* line 131, ../sass/partials/home-news.scss */

.sponsor-text i.fa.fa-trophy,
.sponsor-text .fa-calendar,
.sponsor-text .fa-map-marker,
.sponsor-text .fa-book {
	color: #fff;
	font-size: 33px;
	float: left;
	padding: 13px;
}

/* line 138, ../sass/partials/home-news.scss */

.more-news-section,
.event-sidebar {
	padding: 0;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #fff;
	font-weight: 600;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	position: relative;
}

/* line 180, ../sass/partials/home-news.scss */

.widget-title {
	font-size: 24px;
	clear: both;
}

/* line 186, ../sass/partials/home-news.scss */

.event_archive_link {
	display: block;
	height: 55px;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	background: #012C54;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 55px;
}

/* line 213, ../sass/partials/home-news.scss */

.event_widget_row,
.event_list_row {
	position: relative;
	display: block;
	color: #012C54;
	height: 45px;
	background-color: #F2F2F3;
	font-size: 16px;
}

/* line 222, ../sass/partials/home-news.scss */

.event_widget_row:hover,
.event_list_row:hover {
	background-color: #f7f7f8;
}

/* line 225, ../sass/partials/home-news.scss */

.event_widget_row:hover:nth-child(odd),
.event_list_row:hover:nth-child(odd) {
	background-color: #f7f7f8;
}

/* line 230, ../sass/partials/home-news.scss */

.event_widget_row:nth-child(odd),
.event_list_row:nth-child(odd) {
	background-color: #E6E6E8;
}

/* line 233, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_widget_row .event_title,
.event_widget_row .event_time,
.event_list_row .event_date,
.event_list_row .event_title,
.event_list_row .event_time {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* line 236, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	font-weight: 300;
	left: 5px;
}

/* line 243, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	font-weight: 700;
	white-space: nowrap;
	left: 60px;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* line 266, ../sass/partials/home-news.scss */

.event_widget_row .event_time,
.event_list_row .event_time {
	display: none;
}

/* line 270, ../sass/partials/home-news.scss */

.elite_events_list ul {
	padding: 0;
}

/* line 273, ../sass/partials/home-news.scss */

.elite_events_list ul li {
	list-style: none;
}

/* line 275, ../sass/partials/home-news.scss */

.elite_events_list ul li .event_title {
	left: 90px;
}

/* line 280, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	padding: 0 !important;
}

/* line 283, ../sass/partials/home-news.scss */

.main-news-archive {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.32)));
	background-image: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -o-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0.32)));
	background-image: linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='rgba(255, 255, 255, 0.32)');
	display: block;
}

/* line 309, ../sass/partials/home-news.scss */

.tribe-events-back a {
	display: none;
}

/* line 2, ../sass/partials/_single.scss */

.post-content img {
	max-width: 100%;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-bottom: 20px;
}

/* line 21, ../sass/partials/_single.scss */

.news-title {
	margin-bottom: 10px;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	display: block;
	-webkit-font-smoothing: antialiased;
	color: #FFFFFF;
	width: 100%;
	text-transform: uppercase;
	font-family: 'serpntbi';
}

/* line 48, ../sass/partials/_single.scss */

.buttons-box-inner li a > span {
	float: left;
	width: 85%;
}

/* line 52, ../sass/partials/_single.scss */

.buttons-box-inner li:hover a {
	color: #fff;
}

/* line 55, ../sass/partials/_single.scss */

.buttons-box-inner li:hover {
	background: #c20023;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	border: solid 1px #dddddd;
	height: 55px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #002991;
}

/* line 81, ../sass/partials/_single.scss */

.buttons-box-inner li .fa-chevron-circle-right:before {
	background: rgba(0, 0, 0, 0.23);
	padding: 7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 21px;
}

/* line 88, ../sass/partials/_single.scss */

.buttons-box-inner {
	margin-top: 12px;
	padding: 0;
	margin: 0;
	background: #fff;
	display: block;
}

/* line 96, ../sass/partials/_single.scss */

.post-meta p {
	margin-bottom: 0;
}

/* line 99, ../sass/partials/_single.scss */

.post-meta .tags {
	font-size: 12px;
	text-transform: uppercase;
}

/* line 102, ../sass/partials/_single.scss */

.post-meta .tags a {
	background: #012C54;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 2px;
	padding: 0 3px;
	font-size: 12px;
}

/* line 109, ../sass/partials/_single.scss */

.post-meta .tags a:hover {
	text-decoration: none;
	background: #00549c;
}

/* Player Profile, Gallery - single */

/* line 126, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: left;
	margin-right: 10px;
}

/* line 136, ../sass/partials/_single.scss */

.players-single p.intro,
.gallery-single p.intro {
	font-size: 16px;
	font-weight: 400;
}

/* line 140, ../sass/partials/_single.scss */

.players-single td,
.gallery-single td {
	padding: 0 5px;
}

/* line 146, ../sass/partials/_single.scss */

.is-landing .custom-header-img,
.is-landing .custom-header-img-mobile {
	margin-bottom: 20px;
}

/* line 150, ../sass/partials/_single.scss */

#weblizar_twitter-3 .widget-title {
	display: none;
}

/* Search icon by IcoMoon, made with http://icomoon.io/app/ */

/* line 3, ../sass/partials/_uisearch.scss */

.sb-search {
	width: 0%;
	min-width: 58px;
	height: 60px;
	float: right;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

/* line 26, ../sass/partials/_uisearch.scss */

.sb-search-open .sb-search-input:after {
	content: "\f002";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 15px;
}

/* line 33, ../sass/partials/_uisearch.scss */

.sb-search-open .fa-search {
	display: block !important;
	position: absolute;
	right: 15px;
	top: 62px;
	z-index: 999;
}

/* line 40, ../sass/partials/_uisearch.scss */

.sb-search-input {
	position: absolute;
	right: 0;
	padding-left: 3px;
	outline: none;
	background: transparent;
	border: 0;
	margin: 0;
	z-index: 10;
	font-family: inherit;
	font-size: 18px;
	padding-left: 10px;
	color: #222;
}

/* line 73, ../sass/partials/_uisearch.scss */

.sb-search-open {
	background: transparent;
}

/* line 75, ../sass/partials/_uisearch.scss */

.sb-search-open .sb-search-input {
	background: #fff;
	color: #000;
	border: none;
	z-index: 999;
	font-size: 15px;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
}

/* line 97, ../sass/partials/_uisearch.scss */

.sb-search ::-webkit-input-placeholder {
	color: transparent;
}

.sb-search :-moz-placeholder {
	color: transparent;
}

.sb-search ::-moz-placeholder {
	color: transparent;
}

.sb-search :-ms-input-placeholder {
	color: transparent;
}

.sb-search ::placeholder {
	color: transparent;
}

/* line 102, ../sass/partials/_uisearch.scss */

.sb-search.sb-search-open ::-webkit-input-placeholder {
	color: #999;
}

.sb-search.sb-search-open :-moz-placeholder {
	color: #999;
}

.sb-search.sb-search-open ::-moz-placeholder {
	color: #999;
}

.sb-search.sb-search-open :-ms-input-placeholder {
	color: #999;
}

.sb-search.sb-search-open ::placeholder {
	color: #999;
}

/* line 111, ../sass/partials/_uisearch.scss */

.sb-icon-search,
.sb-search-submit {
	background: transparent;
	width: 43px;
	height: 46px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 43px;
	text-align: center;
	cursor: pointer;
}

/* line 130, ../sass/partials/_uisearch.scss */

.sb-search-submit {
	background: transparent; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

/* line 141, ../sass/partials/_uisearch.scss */

.sb-icon-search {
	color: #fff;
	z-index: 90;
	font-size: 24px;
	background: #0000001f;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* line 149, ../sass/partials/_uisearch.scss */

.sb-icon-search:before {
	content: "s";
	font-size: 20px;
}

/* Open state */

/* line 163, ../sass/partials/_uisearch.scss */

.sb-search.sb-search-open,
.no-js .sb-search {
	z-index: 10000;
	background: transparent;
	height: auto;
	width: auto;
	padding-top: 0;
	padding-right: 0;
	margin-top: 0;
}

/* line 178, ../sass/partials/_uisearch.scss */

.sb-search.sb-search-open .sb-icon-search {
	background: #0000001f;
	width: 43px;
}

/* line 183, ../sass/partials/_uisearch.scss */

.no-js .sb-search .sb-icon-search {
	background: transparent;
	color: #fff;
	z-index: 11;
}

/* line 189, ../sass/partials/_uisearch.scss */

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

/* line 2, ../sass/partials/_solution.scss */

#banners-panel .panel-content {
	padding: 0;
}

/* line 3, ../sass/partials/_solution.scss */

#banners-panel .banner-outer {
	background: #fff;
	padding: 35px 35px 15px 35px;
}

/* line 10, ../sass/partials/_solution.scss */

#banners-panel .slick-dots {
	border-top: 8px solid #f0b728;
}

/* line 14, ../sass/partials/_solution.scss */

.banners {
	padding: 0;
	text-align: center;
	margin: 0;
}

/* line 17, ../sass/partials/_about.scss */

.about .right p {
	color: #fff;
}

/* line 21, ../sass/partials/_about.scss */

.about .left button {
	background: #fff;
	border: none;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-family: 'Gotham-Medium';
	color: #2B9DA4;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 10px 40px;
}

/* line 28, ../sass/partials/_about.scss */

.about .left button:focus {
	outline: none;
}

/* line 46, ../sass/partials/_about.scss */

.about .left h1 {
	font-family: 'Gotham-bold';
	color: #ffff;
	text-align: right;
}

@font-face {
	font-family: 'ROBOTO-BOLD';
	src: url("../fonts/Roboto/ROBOTO-BOLD.TTF") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'ROBOTO-LIGHT';
	src: url("../fonts/Roboto/ROBOTO-LIGHT.TTF") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'ROBOTO-MEDIUM';
	src: url("../fonts/Roboto/ROBOTO-MEDIUM.TTF") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'HighSchoolUSASans';
	src: url("../fonts/HighSchoolUSASans.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'webfont';
	src: url("../fonts/webfont.eot?1531711");
	src: url("../fonts/webfont.eot?1531711#iefix") format("embedded-opentype"), url("../fonts/webfont.woff?1531711") format("woff"), url("../fonts/webfont.ttf?1531711") format("truetype"), url("../fonts/webfont.svg?1531711#webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* line 95, ../sass/app.scss */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	overflow-x: hidden;
}

/* line 134, ../sass/app.scss */

#nav-container > .container {
	position: relative;
	padding: 0;
}

/* line 141, ../sass/app.scss */

#logo {
	position: absolute;
	top: 0;
	background: url("../images/sabres-logo.png") 0 0 no-repeat;
}

/* line 166, ../sass/app.scss */

#logo a {
	display: block;
	height: 119px;
}

/* line 179, ../sass/app.scss */

#main-content span.news-date {
	display: block;
	float: right;
	padding-left: 10px;
	color: #fff;
}

/* line 192, ../sass/app.scss */

.has-club-logos #content {
	padding-top: 0;
}

/* line 200, ../sass/app.scss */

.has-club-logos #sidebar {
	padding-top: 20px;
}

/* line 205, ../sass/app.scss */

.fsp-adv-social-media {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* line 212, ../sass/app.scss */

.fsp-adv-social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* line 215, ../sass/app.scss */

.fsp-adv-social-media li.share-title {
	display: none;
}

/* line 217, ../sass/app.scss */

.single .fsp-adv-social-media li.share-title {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: -4px;
}

/* line 224, ../sass/app.scss */

.fsp-adv-social-media li a {
	font-size: 30px;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #DDAA08 !important;
}

/* line 228, ../sass/app.scss */

.fsp-adv-social-media li a:hover {
	color: #00549c !important;
	text-decoration: none;
}

/* line 236, ../sass/app.scss */

.lower-section {
	margin-top: 20px;
}

/* line 240, ../sass/app.scss */

.title-404 {
	display: none;
}

/*# sourceMappingURL=app.css.map */

@media screen and (-webkit-min-device-pixel-ratio: 0) {

@font-face {
	font-family: 'webfont';
	src: url("../fonts/webfont.svg?1531711#webfont") format("svg");
}

}

@media only screen and (min-width: 200px) and (max-width: 992px) and (min-width: 768px) {

/* line 567, ../sass/partials/_nav.scss */

.js .main-nav .menu li a {
	font-size: 32px;
	padding: 5px 10px;
}

/* line 635, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button {
	top: -84px;
	right: 0;
	height: 60px;
	line-height: 50px;
	width: 100px;
	z-index: 2000;
}

/* line 661, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button:after {
	font-size: 35px;
}

}

@media only screen and (min-width: 200px) and (max-width: 992px) {

/* line 538, ../sass/partials/_nav.scss */

.js .main-nav .menu li li a::before {
	content: " " !important;
	position: absolute;
	right: 20px;
	display: none !important;
}

/* line 548, ../sass/partials/_nav.scss */

.js .sub-header-menu {
	display: none;
}

/* line 552, ../sass/partials/_nav.scss */

.js .main-nav {
	position: relative;
	clear: both;
}

/* line 567, ../sass/partials/_nav.scss */

.js .main-nav .menu li a {
	color: #FFF;
	font-weight: normal;
	padding: 0 15px;
	border: none;
	border-bottom: 1px solid #003969;
	text-shadow: none;
	text-align: left;
	cursor: pointer;
	display: inherit;
}

/* line 594, ../sass/partials/_nav.scss */

.js .main-nav .menu li li:hover {
	background: none !important;
}

/* line 598, ../sass/partials/_nav.scss */

.js .main-nav .menu li li a {
	position: relative;
	padding: 0 10px 0 30px;
	text-indent: 15px;
}

/* line 604, ../sass/partials/_nav.scss */

.js .main-nav .menu li li li a {
	position: relative;
	padding: 0 10px 0 40px;
}

/* line 609, ../sass/partials/_nav.scss */

.js .main-nav .menu li a:hover,
.js .main-nav .menu li li a:hover {
	background-image: none;
	-webkit-filter: none;
	filter: none;
}

/* line 624, ../sass/partials/_nav.scss */

.js .main-nav #responsive_current_menu_item {
	color: #ffffff;
	font-weight: 700;
	cursor: pointer;
	width: 195px;
	background: url("../images/afl-nsw-act-logo.png") left no-repeat;
	-webkit-background-size: auto 80%;
	-moz-background-size: auto 80%;
	-o-background-size: auto 80%;
	background-size: auto 80%;
	overflow: hidden;
	white-space: nowrap;
	text-indent: -2000px;
}

/* line 635, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button {
	position: absolute;
	display: block;
	left: auto;
	cursor: pointer;
	color: #fff;
	display: none;
}

/* line 658, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button:hover {
	text-decoration: none;
}

/* line 661, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button:after {
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\68";
}

}

@media only screen and (min-width: 200px) and (max-width: 992px) and (max-width: 767px) {

/* line 567, ../sass/partials/_nav.scss */

.js .main-nav .menu li a {
	font-size: 22px;
}

/* line 635, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button {
	top: -68px;
	right: 22px;
	height: 30px;
	line-height: 30px;
	width: 50px;
	font-size: 20px;
}

/* line 661, ../sass/partials/_nav.scss */

.js .main-nav a#responsive_menu_button:after {
	font-size: 34px;
}

}

@media (min-width: 650px) and (max-width: 990px) {

/* line 73, ../sass/partials/home-news.scss */

.sponsor-img {
	float: left;
	width: 45%;
}

/* line 77, ../sass/partials/home-news.scss */

.sponsor-text {
	padding: 10px 0;
	width: 55%;
	padding-left: 15px;
}

}

@media (max-width: 767px), (min-width: 768px) {

/* line 494, ../sass/partials/_nav.scss */

.main-nav #responsive_current_menu_item,
.menu a#responsive_menu_button {
	display: none;
}

/* line 202, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: none;
}

}

@media (min-width: 767px) and (max-width: 990px) {

/* line 68, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #0d2241 !important;
}

/* line 69, ../sass/partials/home-news.scss */

.major-sponsor {
	margin-top: 25px;
}

}

@media (min-width: 768px) {

/* line 29, ../sass/partials/_nav.scss */

.simple-button .menu a {
	opacity: 1;
	font-size: 17px;
	padding: 6px 9px;
}

/* line 94, ../sass/partials/_nav.scss */

#nav-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 50px;
}

/* line 130, ../sass/partials/_nav.scss */

#nav-container .sub-menu li a {
	font-size: 14px;
}

/* line 165, ../sass/partials/_nav.scss */

#nav-container .menu a {
	opacity: 1;
	font-size: 15px;
	padding: 14px 9px;
}

/* line 239, ../sass/partials/_nav.scss */

#nav-container .menu > li {
	line-height: 27px;
}

/* line 383, ../sass/partials/_nav.scss */

.menu:after,
.menu ul:after {
	visibility: hidden;
}

/* line 915, ../sass/partials/_nav.scss */

li.current-menu-parent a,
li.current-page-ancestor a,
li.current-menu-ancestor a {
	background: #f0b728;
	color: #002991 !important;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #fff;
	height: 100px;
}

/* line 17, ../sass/partials/_header.scss */

.top-header .text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'ROBOTO-LIGHT';
	font-size: 32px;
}

/* line 30, ../sass/partials/_header.scss */

.top-header .header-logo img {
	max-width: 187px;
}

/* line 29, ../sass/partials/_header.scss */

.top-header .header-logo {
	display: block;
}

/* line 56, ../sass/partials/_header.scss */

.register-buttons a {
	font-size: 20px;
}

/* line 86, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 25, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 25px;
}

/* line 47, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 25px 0;
}

/* line 64, ../sass/partials/_common-styles.scss */

#content {
	min-height: 300px;
}

/* line 367, ../sass/partials/_common-styles.scss */

.social-feed {
	padding: 20px 10px;
}

/* line 462, ../sass/partials/_common-styles.scss */

.woocommerce ul.products li.product .price {
	font-size: 17px;
}

/* line 141, ../sass/partials/_slick.scss */

.mv-slide .caption {
	top: 25px;
	left: 25px;
	max-width: 60%;
}

/* line 154, ../sass/partials/_slick.scss */

.mv-slide .caption span {
	font-size: 45px;
	line-height: 50px;
}

/* line 171, ../sass/partials/_slick.scss */

.mv-slide .caption .small-text {
	font-size: 19px;
}

/* line 225, ../sass/partials/_slick.scss */

.slick-slider-container {
	padding: 20px 20px 10px 20px;
}

/* line 40, ../sass/partials/_news.scss */

.news-box .news-cat {
	display: block;
}

/* line 52, ../sass/partials/_news.scss */

.news-box .news-cat-mobile {
	display: none;
}

/* line 66, ../sass/partials/_news.scss */

.subsribe-box {
	padding: 25px 15px;
	min-height: 126px;
	vertical-align: middle;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 99999;
}

/* line 109, ../sass/partials/_news.scss */

.subsribe-box input[type="text"],
.subsribe-box input[type="email"] {
	padding: 7px 7px;
	margin: 0 5px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer-outer {
	padding: 20px;
}

/* line 19, ../sass/partials/_footer.scss */

.footer {
	display: inline-block;
	width: 100%;
}

/* line 41, ../sass/partials/_footer.scss */

.footer .quick-links {
	width: 50%;
	float: left;
}

/* line 47, ../sass/partials/_footer.scss */

.footer .footer-contact {
	width: 50%;
	float: left;
}

/* line 53, ../sass/partials/_footer.scss */

.footer .footer-logo {
	width: 100%;
	float: left;
	text-align: center;
}

/* line 75, ../sass/partials/_footer.scss */

.footer .menu li {
	width: 100%;
}

/* line 98, ../sass/partials/_footer.scss */

.quick-links {
	padding-left: 25px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 46%;
	margin-right: 17px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
}

/* line 186, ../sass/partials/home-news.scss */

.event_archive_link {
	position: static;
	margin-top: 2px;
}

/* line 243, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 250px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 17px;
	height: 66px;
	padding: 0px 10px;
}

/* line 3, ../sass/partials/_uisearch.scss */

.sb-search {
	background: transparent;
	height: auto;
	width: auto;
	padding-top: 0;
	padding-right: 0;
	margin-top: 0;
}

/* line 40, ../sass/partials/_uisearch.scss */

.sb-search-input {
	width: 350px;
}

/* line 1, ../sass/partials/_about.scss */

.about {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/* line 4, ../sass/partials/_about.scss */

.about .right {
	border-left: 1px solid #fff;
	padding: 0;
	padding-left: 30px;
}

/* line 20, ../sass/partials/_about.scss */

.about .left {
	padding-right: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* line 141, ../sass/app.scss */

#logo {
	width: 437px;
	left: -20px;
	z-index: 1000;
}

}

@media only screen and (max-width: 992px) and (min-width: 200px) {

/* line 277, ../sass/partials/_common-styles.scss */

.headering-top {
	overflow: inherit;
}

}

@media (min-width: 992px) {

/* line 29, ../sass/partials/_nav.scss */

.simple-button .menu a {
	padding: 0 2px;
	font-size: 13px;
	height: 100%;
	padding: 10px 0;
	display: inline-block;
}

/* line 94, ../sass/partials/_nav.scss */

#nav-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 65px;
}

/* line 130, ../sass/partials/_nav.scss */

#nav-container .sub-menu li a {
	padding: 10px 15px;
	font-size: 13px;
	line-height: 18px;
}

/* line 165, ../sass/partials/_nav.scss */

#nav-container .menu a {
	padding: 0 2px;
	font-size: 15px;
	height: 100%;
	padding: 19px 15px;
	display: inline-block;
}

/* line 239, ../sass/partials/_nav.scss */

#nav-container .menu > li {
	padding-right: 11px;
	padding-left: 0;
}

/* line 299, ../sass/partials/_nav.scss */

ul.menu > li ul.sub-menu {
	margin-top: 0;
}

/* line 383, ../sass/partials/_nav.scss */

.menu:after,
.menu ul:after {
	visibility: inherit;
}

/* line 494, ../sass/partials/_nav.scss */

.main-nav #responsive_current_menu_item,
.menu a#responsive_menu_button {
	display: none;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	height: 134px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* line 30, ../sass/partials/_header.scss */

.top-header .header-logo img {
	max-width: 100%;
}

/* line 56, ../sass/partials/_header.scss */

.register-buttons a {
	font-size: 30px;
}

/* line 68, ../sass/partials/_header.scss */

.top-logo {
	padding-left: 20px;
}

/* line 86, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 25, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 33px;
}

/* line 47, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 40px 0;
}

/* line 64, ../sass/partials/_common-styles.scss */

#content {
	min-height: 500px;
}

/* line 168, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li:nth-child(n) {
	margin-bottom: 1%;
	margin-right: 1%;
}

/* line 175, ../sass/partials/_common-styles.scss */

.news-archive .front-more-news li {
	width: 24%;
}

/* line 202, ../sass/partials/_common-styles.scss */

.breadcrumb-list {
	display: block;
}

/* line 367, ../sass/partials/_common-styles.scss */

.social-feed {
	padding: 35px 20px;
}

/* line 141, ../sass/partials/_slick.scss */

.mv-slide .caption {
	top: 50px;
	left: 50px;
	max-width: 450px;
}

/* line 154, ../sass/partials/_slick.scss */

.mv-slide .caption span {
	font-size: 60px;
	line-height: 65px;
}

/* line 171, ../sass/partials/_slick.scss */

.mv-slide .caption .small-text {
	font-size: 25px;
}

/* line 225, ../sass/partials/_slick.scss */

.slick-slider-container {
	padding: 35px 35px 15px 35px;
}

/* line 109, ../sass/partials/_news.scss */

.subsribe-box input[type="text"],
.subsribe-box input[type="email"] {
	width: 240px !important;
	padding: 9px 7px !important;
	border: none !important;
	margin-right: 15px;
}

/* line 1, ../sass/partials/_footer.scss */

.footer-outer {
	padding: 35px;
}

/* line 19, ../sass/partials/_footer.scss */

.footer {
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* line 41, ../sass/partials/_footer.scss */

.footer .quick-links {
	width: 33.33%;
}

/* line 47, ../sass/partials/_footer.scss */

.footer .footer-contact {
	width: 33.33%;
}

/* line 53, ../sass/partials/_footer.scss */

.footer .footer-logo {
	width: 33.33%;
}

/* line 75, ../sass/partials/_footer.scss */

.footer .menu li {
	width: 100%;
	float: none;
	display: inline-block;
}

/* line 98, ../sass/partials/_footer.scss */

.quick-links {
	padding-left: 50px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	width: 45%;
}

/* line 149, ../sass/partials/home-news.scss */

.front-more-news li:nth-child(n) {
	margin-bottom: 2%;
	margin-right: 2%;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 404px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	margin-bottom: 15px;
	font-size: 26px;
}

/* line 186, ../sass/partials/home-news.scss */

.event_archive_link {
	position: absolute;
	margin-top: 0;
}

/* line 243, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 50px;
	width: 150px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 68px;
	padding: 10px;
}

/* line 40, ../sass/partials/_uisearch.scss */

.sb-search-input {
	width: 250px;
	height: 45px;
}

/* line 141, ../sass/app.scss */

#logo {
	width: 437px;
	left: -50px;
	z-index: 0;
}

}

@media (min-width: 1200px) {

/* line 29, ../sass/partials/_nav.scss */

.simple-button .menu a {
	font-size: 16px;
}

/* line 165, ../sass/partials/_nav.scss */

#nav-container .menu a {
	font-size: 16px;
}

/* line 239, ../sass/partials/_nav.scss */

#nav-container .menu > li {
	padding-right: 0;
	padding-left: 0;
	line-height: 27px;
}

/* line 25, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 45px;
}

/* line 154, ../sass/partials/_slick.scss */

.mv-slide .caption span {
	font-size: 75px;
	line-height: 80px;
}

/* line 41, ../sass/partials/_footer.scss */

.footer .quick-links {
	width: 25%;
}

/* line 47, ../sass/partials/_footer.scss */

.footer .footer-contact {
	width: 50%;
}

/* line 53, ../sass/partials/_footer.scss */

.footer .footer-logo {
	width: 25%;
	text-align: center;
}

/* line 106, ../sass/partials/_footer.scss */

.contact-outer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: 394px;
}

/* line 170, ../sass/partials/home-news.scss */

.elite_events_widget .widget-title {
	font-size: 35px;
}

/* line 243, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 60px;
	width: 190px;
}

/* line 59, ../sass/partials/_single.scss */

.buttons-box-inner li {
	font-size: 18px;
	height: 75px;
	padding: 10px;
}

/* line 40, ../sass/partials/_uisearch.scss */

.sb-search-input {
	width: 250px;
	height: 52px;
}

/* line 141, ../sass/app.scss */

#logo {
	width: 437px;
	left: -40px;
	z-index: 0;
}

}

@media (min-width: 1730px) {

/* line 304, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -62px !important;
}

}

@media (min-width: 2050px) {

/* line 299, ../sass/partials/home-news.scss */

#new-archive-get-involved-panel .panel-content {
	background-position: center -150px !important;
}

}

@media (max-width: 767px) {

/* line 29, ../sass/partials/_nav.scss */

.simple-button .menu a {
	font-size: 18px;
	letter-spacing: 0px;
	opacity: 1;
}

/* line 94, ../sass/partials/_nav.scss */

#nav-container {
	display: none;
}

/* line 130, ../sass/partials/_nav.scss */

#nav-container .sub-menu li a {
	font-size: 14px;
}

/* line 165, ../sass/partials/_nav.scss */

#nav-container .menu a {
	font-size: 18px;
	letter-spacing: 0px;
	opacity: 1;
}

/* line 239, ../sass/partials/_nav.scss */

#nav-container .menu > li {
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
}

/* line 383, ../sass/partials/_nav.scss */

.menu:after,
.menu ul:after {
	visibility: hidden;
}

/* line 790, ../sass/partials/_nav.scss */

#wprmenu_bar {
	border-bottom: 3px solid #e4002a;
}

/* line 1, ../sass/partials/_header.scss */

.top-header {
	margin-top: 45px;
	height: 65px;
}

/* line 17, ../sass/partials/_header.scss */

.top-header .text {
	display: none;
}

/* line 29, ../sass/partials/_header.scss */

.top-header .header-logo {
	display: none;
}

/* line 46, ../sass/partials/_header.scss */

.register-buttons {
	padding: 15px 25px;
}

/* line 56, ../sass/partials/_header.scss */

.register-buttons a {
	font-size: 20px;
}

/* line 68, ../sass/partials/_header.scss */

.top-logo {
	padding: 20px 0px;
}

/* line 86, ../sass/partials/_header.scss */

.search-box {
	display: block;
}

/* line 25, ../sass/partials/_common-styles.scss */

h1 {
	font-size: 20px;
}

/* line 47, ../sass/partials/_common-styles.scss */

.panel-content {
	padding: 15px 0;
}

/* line 85, ../sass/partials/_common-styles.scss */

div#scroll {
	display: none;
}

/* line 183, ../sass/partials/_common-styles.scss */

.col-1 {
	display: inline-block;
	padding-bottom: 25px;
	width: 100%;
}

/* line 302, ../sass/partials/_common-styles.scss */

.sponsor {
	padding: 20px;
}

/* line 310, ../sass/partials/_common-styles.scss */

.sponsor .center {
	font-size: 23px;
	margin-bottom: 25px;
}

/* line 352, ../sass/partials/_common-styles.scss */

.news-box-archive h4 {
	margin-top: 10px;
}

/* line 367, ../sass/partials/_common-styles.scss */

.social-feed {
	padding: 13px 3px;
}

/* line 389, ../sass/partials/_common-styles.scss */

.social-feed #ffwd_container1_0 #ffwd_container2_0 .bwg_blog_style_img_cont_0:before {
	background: url("../images/facebook_mobile.png") no-repeat;
	width: 31px;
	bottom: 0;
	top: 87.5%;
	left: 0;
}

/* line 399, ../sass/partials/_common-styles.scss */

.social-feed .wdi_thumb_icon:before {
	background: url("../images/instagram_mobile.png") no-repeat;
	width: 36px;
	bottom: 0;
	top: 86%;
	left: 0;
}

/* line 466, ../sass/partials/_common-styles.scss */

.social-buttons {
	width: 100%;
}

/* line 122, ../sass/partials/_slick.scss */

.mv-slide { /*   background-size: cover !important;
       background-position: left center !important;*/
}

/* line 141, ../sass/partials/_slick.scss */

.mv-slide .caption {
	top: 15px;
	left: 15px;
	max-width: 60%;
}

/* line 154, ../sass/partials/_slick.scss */

.mv-slide .caption span {
	font-size: 25px;
	line-height: 31px;
}

/* line 225, ../sass/partials/_slick.scss */

.slick-slider-container {
	padding: 20px;
}

/* line 2, ../sass/partials/_news.scss */

.news-box {
	padding: 20px;
}

/* line 12, ../sass/partials/_news.scss */

.news-box .news-title {
	position: relative;
	padding: 10px 0;
}

/* line 22, ../sass/partials/_news.scss */

.news-box .news-title h4 {
	font-size: 18px;
}

/* line 31, ../sass/partials/_news.scss */

.news-box .news-more a {
	font-size: 15px;
}

/* line 40, ../sass/partials/_news.scss */

.news-box .news-cat {
	display: none;
}

/* line 52, ../sass/partials/_news.scss */

.news-box .news-cat-mobile {
	display: block;
	padding: 10px;
}

/* line 94, ../sass/partials/_news.scss */

.subsribe-box .gform_body,
.subsribe-box .gform_footer {
	float: none;
}

/* line 101, ../sass/partials/_news.scss */

.subsribe-box ul li {
	width: 100%;
	margin: 5px 0;
}

/* line 109, ../sass/partials/_news.scss */

.subsribe-box input[type="text"],
.subsribe-box input[type="email"] {
	width: 100%;
}

/* line 1, ../sass/partials/_footer.scss */

.footer-outer {
	padding: 20px;
}

/* line 19, ../sass/partials/_footer.scss */

.footer {
	padding: 15px;
}

/* line 41, ../sass/partials/_footer.scss */

.footer .quick-links {
	width: 100%;
	padding-bottom: 15px;
}

/* line 47, ../sass/partials/_footer.scss */

.footer .footer-contact {
	width: 100%;
	padding-bottom: 15px;
}

/* line 53, ../sass/partials/_footer.scss */

.footer .footer-logo {
	width: 100%;
	text-align: left;
}

/* line 70, ../sass/partials/_footer.scss */

.footer h4 {
	margin-bottom: 15px;
}

/* line 16, ../sass/partials/home-news.scss */

.front-more-news li {
	padding: 0;
}

/* line 48, ../sass/partials/home-news.scss */

.more-news {
	text-align: center;
}

/* line 53, ../sass/partials/home-news.scss */

#latest-news-panel .panel-content {
	background: #fff !important;
	padding-bottom: 0;
}

/* line 62, ../sass/partials/home-news.scss */

.more-news-events {
	padding: 0;
}

/* line 93, ../sass/partials/home-news.scss */

.major-sponsor {
	padding-top: 12px;
	background: #0d2241;
	float: left;
	padding: 30px 15px;
	margin-top: 30px;
	width: 100%;
}

/* line 106, ../sass/partials/home-news.scss */

.sponsor-text {
	padding-bottom: 10px;
}

/* line 139, ../sass/partials/home-news.scss */

.more-news-section h3 a {
	color: #0d223f;
	padding-left: 10px;
}

/* line 154, ../sass/partials/home-news.scss */

.elite_events_widget {
	height: inherit;
	margin-left: -15px;
	margin-right: -15px;
}

/* line 236, ../sass/partials/home-news.scss */

.event_widget_row .event_date,
.event_list_row .event_date {
	left: 15px;
}

/* line 243, ../sass/partials/home-news.scss */

.event_widget_row .event_title,
.event_list_row .event_title {
	left: 70px;
}

/* line 12, ../sass/partials/_single.scss */

.post-content .featured-image {
	margin-top: 22px;
}

/* line 27, ../sass/partials/_single.scss */

.widget-wrapper img {
	border: none;
}

/* line 34, ../sass/partials/_single.scss */

.buttons-box-inner li a {
	text-align: left;
	font-size: 21px;
	margin-left: 13px;
}

/* line 126, ../sass/partials/_single.scss */

.player-img-container,
.cover-img-container {
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}

/* line 40, ../sass/partials/_uisearch.scss */

.sb-search-input {
	width: 90%;
}

/* line 75, ../sass/partials/_uisearch.scss */

.sb-search-open .sb-search-input {
	background: #eee;
	border-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #000;
}

/* line 73, ../sass/partials/_uisearch.scss */

.sb-search-open {
	background: transparent;
}

/* line 102, ../sass/partials/_uisearch.scss */

.sb-search.sb-search-open ::-webkit-input-placeholder {
	color: transparent;
}

.sb-search.sb-search-open :-moz-placeholder {
	color: transparent;
}

.sb-search.sb-search-open ::-moz-placeholder {
	color: transparent;
}

.sb-search.sb-search-open :-ms-input-placeholder {
	color: transparent;
}

.sb-search.sb-search-open ::placeholder {
	color: transparent;
}

/* line 111, ../sass/partials/_uisearch.scss */

.sb-icon-search,
.sb-search-submit {
	height: 50px;
}

/* line 149, ../sass/partials/_uisearch.scss */

.sb-icon-search:before {
	font-size: 22px;
}

/* line 3, ../sass/partials/_solution.scss */

#banners-panel .banner-outer {
	padding: 20px 20px  15px 20px;
}

/* line 4, ../sass/partials/_about.scss */

.about .right {
	padding-top: 15px;
}

/* line 20, ../sass/partials/_about.scss */

.about .left {
	border-bottom: 1px solid #fff;
	text-align: center;
	padding-bottom: 20px;
}

/* line 46, ../sass/partials/_about.scss */

.about .left h1 {
	text-align: center;
	font-size: 25px;
	line-height: 30px;
}

/* line 141, ../sass/app.scss */

#logo {
	width: 217px;
	left: -5px;
	-webkit-background-size: 220px 60px;
	-moz-background-size: 220px 60px;
	-o-background-size: 220px 60px;
	background-size: 220px 60px;
	z-index: 1000;
}

/* line 166, ../sass/app.scss */

#logo a {
	height: 60px;
}

/* line 205, ../sass/app.scss */

.fsp-adv-social-media {
	display: none;
}

}

@media (max-width: 650px) {

/* line 176, ../sass/app.scss */

#main-content {
	margin: 0;
}

/* line 186, ../sass/app.scss */

#content-wrap {
	margin: 0;
}

}

